[2020-03-25 22:18] Rnorback opened #6 "Trying to get in touch"
Hi Dana and Scott,

Hope you’re well.

I have a team of highly skilled developers in Native Mobile on iOS and Android, as well as Backend and System Architects waiting in the wings ready to build out a Contact Tracer system.

Do you have some time to talk today or tomorrow? I’m on PST. My email is Rnorback [@] gmail.com.

Best,
Rob Norback

[2020-03-26 01:34] scottleibrand commented on #6
Thanks so much for reaching out and jumping on our call. Looking forward to working with you.

[2020-03-26 01:34] #6 closed

[2020-03-26 13:51] duskoo opened #11 "v0.1 Home Screen"
Home screen with navigation bar and 2 tappable cards

[2020-03-26 16:52] rase-rocks opened #13 "v0.1 Onboarding"
I'm creating this issue so it can be assigned to myself. Sorry if this is not the place ;)

[2020-03-27 10:48] rase-rocks commented on #13
![Simulator Screen Shot - iPhone 11 Pro Max - 2020-03-27 at 10 43 38](https://user-images.githubusercontent.com/38786434/77748334-16119b00-7018-11ea-94a2-1c63d6c95fae.png)

First, and incomplete draft. I have created an AttributedString class so we can build up translatable NSAttributedStrings for use in UILabels. It means we can follow the spec with bold and normal text combined. It works with le

[2020-03-27 12:10] rase-rocks commented on #13
Current Issues:

+ The current font is Avenir.
+ Logo drawing is not my thing. It can be easily swapped out. It is an asset in the asset catalogue (a PDF)

[2020-03-27 13:49] rase-rocks commented on #11
Having the tappable elements fixed causes an issue on horizontal devices. Maybe this could be moved to a UICollectionView?

![Simulator Screen Shot - iPhone 11 Pro Max - 2020-03-27 at 13 47 43](https://user-images.githubusercontent.com/38786434/77762651-c213b000-7031-11ea-9222-70647cd8f4b3.png)

[2020-03-27 14:51] rase-rocks commented on #13
This issue can now be closed in favour of pull request #18

[2020-03-27 14:51] #13 closed

[2020-03-28 01:43] duskoo commented on #11
@rase-rocks Good point. I do think collectionView is a bit too much: I will embed the cards in scrollView instead.

[2020-03-28 04:06] #11 closed

[2020-03-28 08:13] i-schuetz opened #20 "UITableViewAlertForLayoutOutsideViewHierarchy issue tracker"
RxSwift / iOS platform bug:
https://github.com/RxSwiftCommunity/RxDataSources/issues/331

Appears to cause only a warning.

[2020-03-28 16:39] duskoo opened #24 "@duskoo Add Roboto font to the app"
https://fonts.google.com/specimen/Roboto?selection.family=Roboto

[2020-03-29 10:58] rase-rocks opened #27 "Minor Housekeeping | Xcode Project | Point for discussion"
I think I'm not alone in finding that the `project.pbxproj` causes issues when merging.

Does anybody have any experience with:

[https://github.com/truebit/xUnique](https://github.com/truebit/xUnique)

It may take some of the headache away from merging. (Or maybe its just me!)

[2020-03-30 04:26] scottleibrand opened #31 "Can't exit debug screen on iPhone 6s with iOS 12.4"
When I load the debug screen on an iPhone 6s running iOS 12.4, there's no way to slide it down to get back to the home screen, and I have to kill the app to get out of the debug screen.

[2020-03-30 16:10] #31 closed

[2020-03-30 18:40] astewart43-gtri opened #35 "Symptoms Label Incorrect Size iPhone SE"
**Describe the bug**
When building on the iPhone SE in the simulator, the symptoms label does not fit on the screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Download the iOS 12.4 simulator under Xcode > Preferences > Components > iOS 12.4 Simulator
2. Select iPhone SE or iPhone 5s under the simulator selection menu
3. Build and Run

**Expected behavior**
Either a fixed smaller size f

[2020-03-30 18:56] #24 closed

[2020-03-30 23:30] astewart43-gtri opened #36 "Make symptoms list contents more visible."
**Problem.**
If you did not know that the symptoms were a scrolling list, all but the 8 Plus give no indication that there is more to the list. See the picture below:

<img width="1861" alt="image" src="https://user-images.githubusercontent.com/62766475/77971437-a708a080-72bc-11ea-84ce-dbe467a267e9.png">

**Describe the solution**
A solution would be to flash the scroll bar when the page loads to

[2020-03-30 23:35] scottleibrand commented on #36
If this takes any significant work to fix, we can defer it until after v0.1, when we'll likely be moving to a multi-page symptoms interview.

[2020-03-30 23:54] astewart43-gtri commented on #36
If the plan is to move to a different model for the quiz, I don't think this is worth investing any time in.

[2020-03-31 00:40] astewart43-gtri opened #37 "Device Orientation Problems"
**Description**
Many of the UI elements are broken if the device is turned to landscape. See screenshots below:

<img width="645" alt="image" src="https://user-images.githubusercontent.com/62766475/77974435-1f735f80-72c5-11ea-802b-00e462169406.png">

<img width="702" alt="image" src="https://user-images.githubusercontent.com/62766475/77974449-2b5f2180-72c5-11ea-8cb2-8ebd5eccae5e.png">

**To Reprod

[2020-03-31 02:43] duskoo opened #39 "Repo pattern for CENs"
Separate responsibilities. Data base related in `Realm...` repo. Pure business logic (`generateCENData` in this case) here.

_Originally posted by @i-schuetz in https://github.com/Co-Epi/app-ios/pull/25_

https://github.com/Co-Epi/app-ios/pull/25#discussion_r400345493
https://github.com/Co-Epi/app-ios/pull/25#discussion_r400345766
https://github.com/Co-Epi/app-ios/pull/25#discussion_r400346116

[2020-03-31 04:01] #36 closed

[2020-03-31 04:32] astewart43-gtri commented on #35
This can be solved by adding horizontal constraints (the default based on position) and enabling "auto shrink: minimize my font scale"

<img width="1561" alt="image" src="https://user-images.githubusercontent.com/62766475/77987155-109da480-72e7-11ea-88aa-6eca81e517a1.png">

[2020-04-01 05:24] astewart43-gtri opened #42 "Debug page causes crash app in alamofire-networking branch"
**Describe the bug**
When clicking to open the debug menu, the app crashes. The breakpoint is shown below.

<img width="1920" alt="image" src="https://user-images.githubusercontent.com/62766475/78102110-7e190600-73b7-11ea-8242-e204c3518db2.png">

[2020-04-01 14:08] duskoo commented on #42
@astewart43-gtri Based on screenshot, RxSwift may be included in the project twice. Check your SPD dependencies and your Podfile.lock

[2020-04-01 14:39] astewart43-gtri commented on #42
Yes, when that screenshot was taken, I believe I had it duplicated in the pod file. I reverted that commit, but I still have the error.

[2020-04-01 15:11] duskoo commented on #42
Did you run:
pod install
after removing the line from the Podfile?

On Wed, 1 Apr 2020 at 16:39, astewart43-gtri <notifications@github.com>
wrote:

[2020-04-01 15:24] astewart43-gtri commented on #42
Yes. It seems that RxAlamofire is the problem. Adding just it breaks the debug window.

[2020-04-01 15:48] duskoo commented on #42
When you ad RxAlamoFire via Podfile, Cocoapods will install RxSwift and Alamofire pods as well (because those are dependencies for RxAlamofire). Cocoapods is not aware that RxSwift and Alamofire have already bee added as SPM packages... and you get a package collision.

[2020-04-01 15:51] astewart43-gtri commented on #42
that makes sense. Is there a way to get around that?

[2020-04-01 16:03] duskoo commented on #42
I would suggest that you use SPM as default package manager. All dependencies should be installed using SPM, except AppCenter lib (which requires Cocoapods).
Also, make sure you get the correct versions as stated in [RxAlamofire.podspec|https://github.com/RxSwiftCommunity/RxAlamofire/blob/master/RxAlamofire.podspec]
[code]

[2020-04-01 18:35] #42 closed

[2020-04-02 00:28] i-schuetz commented on #37
IMO we definitely should lock to portrait. There's no reason to invest efforts in an app like this to support landscape mode (near/mid future at least).

[2020-04-02 00:35] i-schuetz commented on #27
Interesting, but it may create more problems than it solves. If we keep the PRs small and merge quickly (i.e. at most a couple of days) we shouldn't have that much problems with the `.pbxproj`

[2020-04-02 00:35] #27 closed

[2020-04-02 00:36] i-schuetz commented on #20
@danamlewis Removed the project. This is only a tracker for an issue in an external dependency. Nothing to do for us at the moment.

[2020-04-02 11:31] #37 closed

[2020-04-02 15:16] duskoo opened #50 "RxAlamofire networking"
iOS <-> Backend communication using RxAlamofire

[2020-04-03 00:54] #50 closed

[2020-04-03 02:11] astewart43-gtri opened #53 "Improve and Test RxAlamofire"

[2020-04-03 16:13] duskoo opened #55 "Add default Launch Screen"
iOS app currently does not have a Launch Screen. An empty white screen is shown instead (when starting the app).
Add custom Launch screen.
https://www.iosapptemplates.com/blog/ios-programming/ios-launch-screen

[2020-04-03 16:15] duskoo opened #57 "Onboarding - change font"
Onboarding screen uses HTML rendering for 3 labels shown. This seems to impact the duration of the app startup.
Set labels to use Roboto fonts as in design.

[2020-04-03 21:30] #53 closed

[2020-04-04 17:00] #55 closed

[2020-04-04 17:01] #57 closed

[2020-04-04 19:13] scottleibrand opened #65 "Display version/build number"
We should display the version number, build number, and/or git commit on the home or debug screen so we can be sure which version someone is running when testing.

[2020-04-04 21:40] duskoo commented on #65
![Simulator Screen Shot - iPhone 11 - 2020-04-04 at 23 38 07](https://user-images.githubusercontent.com/4785666/78461951-ac575800-76cd-11ea-84f3-2238e548d401.png)

[2020-04-05 02:29] #65 closed

[2020-04-05 02:52] scottleibrand commented on #65
Looks great, thanks.

[2020-04-06 21:39] astewart43-gtri commented on #35
Closing because this will all likely be replaced.

[2020-04-06 21:39] #35 closed

[2020-04-07 16:15] astewart43-gtri opened #74 "Build Phase Warnings"
A few duplicate files in the "compile sources build phase"

[2020-04-07 21:38] #74 closed

[2020-04-08 15:04] TheRhullian opened #78 "How does CoreBluetooth works on iOS, in background?"
Hi,

I want to ask if is possible to scan devices around, including Android, and detect, without connecting, those peripherals and after detecting, just exchange data.

I want to build an app that wakes up just to scan e exchange data, without connecting both.

I tested your app and i saw that, the scan works only if the service UUID is unique, and you force the scan search for that same one, corr

[2020-04-08 20:16] astewart43-gtri opened #79 "Transition to v0.3 backend"

[2020-04-08 20:24] astewart43-gtri commented on #79
URL: https://q69c4m2myb.execute-api.us-west-2.amazonaws.com/v3/

[2020-04-08 21:23] astewart43-gtri commented on #79
@duskoo is testing in branch: CoEpiNetworkingV3Tests

[2020-04-08 22:53] danamlewis opened #80 "Add 'how my data is used' link"
Please link 'how is my data used' on onboarding screen to https://www.coepi.org/privacy/ for now

[2020-04-09 06:28] i-schuetz commented on #79
The url was already updated on dev (for both iOS and Android), and posting a report is working (returns 200).

[2020-04-09 15:18] astewart43-gtri commented on #79
@i-schuetz Great!
What else needs to be done or tested?

[2020-04-09 15:20] duskoo opened #81 "Add Progress indicator"
(see Android implementation)

Should be reusable, integrated with Rx.
Currently displayed during fetching alerts (matching) and submitting a report.

[2020-04-09 21:42] duskoo commented on #81
This looks promising: http://rx-marin.com/post/rxswift-custom-bindings/

[2020-04-10 06:22] scottleibrand opened #85 "Exposure match symptom details"
When displaying an exposure match, symptom information in the report should be displayed along with the time stamp of the match.

[2020-04-10 06:26] scottleibrand opened #86 "Deduplicate keys and TCNs on debug screen"
![911D4406-6E23-496D-9EF3-D9189B414E4E](https://user-images.githubusercontent.com/6982790/78968430-69c0c180-7ab9-11ea-836b-3d657b56ee23.png)
![AC925318-5B52-492A-BAAB-D705BF7D9F65](https://user-images.githubusercontent.com/6982790/78968435-6d544880-7ab9-11ea-94fc-e28299d6fd6a.png)

[2020-04-10 06:27] scottleibrand opened #87 "Improve contrast of debug headers"
Black on dark blue is really hard to read.

[2020-04-10 09:16] #80 closed

[2020-04-10 15:47] Sam-gtri opened #89 "Add app sharing functionality"
Implement share buttons in homepage and share popup after reporting first set of symptoms to encourage users to grow the user base

[2020-04-11 04:28] scottleibrand opened #91 "Transition to v0.4 backend"
Once https://github.com/Co-Epi/coepi-backend-aws/issues/6 is complete, transition the app to use it.

[2020-04-11 04:49] scottleibrand opened #92 "Notifications"
If the app detects an exposure match in the background, issue a notification.

[2020-04-11 04:50] scottleibrand opened #93 "App icon badge"
Place the number of unacknowledged exposure matches as a red badge on the app icon.

[2020-04-11 04:55] #87 closed

[2020-04-11 05:15] scottleibrand opened #94 "Symptom timing"
Once users select symptoms, prompt them to pick a date when each of the selected symptoms started.

[2020-04-11 12:56] #39 closed

[2020-04-11 12:56] duskoo commented on #39
Done

[2020-04-11 14:16] duskoo commented on #94
@scottleibrand How should this look like? Sounds like a major change in UI/UX

[2020-04-11 14:19] ericlavigne opened #95 "Internationalization"
Prepare for translation to other languages, starting with Spanish as an example.

https://developer.apple.com/internationalization/

[2020-04-11 23:00] mikew67 opened #98 "Clarification of branch to use and build instructions for new users"
**Problem:** With turbulent changes in this rep, it's unclear for new users/testers how to build the app and which branch to use.

**Solution*** Add two entries to the README for this repo:
 * A pointer to "Getting Started" a build instructions doc (and might as well add testing instructions, too). (Mark Ingle has written a build doc for iOS already).
 * A (dynamically changing?) note in the READM

[2020-04-12 06:13] danamlewis opened #102 "remove post-entering symptoms share prompt from workflow"
Share functionality does work on iOS 12 from the home screen (tap share; choose to text to someone, etc. works).

However, now after entering symptoms on iOS 12 with build62, the share notification pops up. Choosing either option (don't share or share) results in the same behavior: staying on the symptom screen. Symptoms do not appear to be submitted.

Overall, I would recommend removing share fun

[2020-04-12 14:06] duskoo opened #104 "Run CEN matching on multiple cores"
CEN matching logic should be easy to paralelise and run on multiple cores (num cores = 4?) . This should yield linear performance gains.
Currently, logic is single threaded.
![cen-matching-single-core](https://user-images.githubusercontent.com/4785666/79070696-cf8a9480-7cd7-11ea-94a1-8354419d9cc7.jpg)

[2020-04-13 03:57] ericlavigne commented on #95
Translated some of the .swift files using Localizable.strings files.

Branch: Internationalization

[2020-04-13 06:19] scottleibrand opened #106 "Stop using deprecated UIWebView APIs"
Apple says:

We identified one or more issues with a recent delivery for your app, "CoEpi.org" 0.1 (1). Your delivery was successful, but you may wish to correct the following issues in your next delivery:

ITMS-90809: Deprecated API Usage - Apple will stop accepting submissions of new apps that use UIWebView APIs starting from April 2020. See https://developer.apple.com/documentation/uikit/uiwebv

[2020-04-13 06:24] #86 closed

[2020-04-13 11:54] duskoo commented on #106
Seems that RXSwift (RxCocoa) is referencing UIWebVIew.
`LousyNetwork:CoEpi.app duskoo$ nm CoEpi|  grep -i uiweb
00000001002ee7ac T _$s7RxCocoa0A20WebViewDelegateProxyC03webD0ACSo05UIWebD0C_tcfC
00000001010e7320 S _$s7RxCocoa0A20WebViewDelegateProxyC03webD0ACSo05UIWebD0C_tcfCTq
00000001002ee860 T _$s7RxCocoa0A20WebViewDelegateProxyC03webD0ACSo05UIWebD0C_tcfc
00000001002ee668 T _$s7RxCocoa0A20WebVie

[2020-04-13 13:42] i-schuetz commented on #95
Looking good! Can you please also look into [SwiftGen](https://github.com/SwiftGen/SwiftGen)? It generates enums for the keys, which is safer and we get autocompletion.

[2020-04-13 15:33] #106 closed

[2020-04-13 21:39] ericlavigne commented on #95
Yes, I'll check out SwiftGen.

In the current approach, I think the .swift translations are easy enough to deal with due to explicit keys, but the .xib translations involve random keys that are unreadable. If SwiftGen has a better option for .xib translation, that would be very welcome.

[2020-04-13 23:13] markingle opened #109 "Bug?...Maybe....CoEpi app crashes on iPhone 7 Plus iOS 13.3.1"
**Describe the bug**
 The app starts up then crashes...See screenshot of dump

**To Reproduce**
Steps to reproduce the behavior:
Connect phone via USB,  then click on run arrow

**Expected behavior**
App should run on iPhone

**Screenshots**
![image](https://user-images.githubusercontent.com/11239466/79169580-cde5cd00-7dba-11ea-9b52-b4be8badc83d.png)

[2020-04-13 23:55] danamlewis commented on #109
Which branch? `develop` or something else?

[2020-04-14 00:24] markingle commented on #109
Sorry @danamlewis ...yes develop

[2020-04-14 04:50] DrWhere opened #110 "Symptom list scroll has extremely low discoverability"
Symptom list has two items below the fold only visible upon scroll. No scroll bar is visible and scroll has very low discoverability as the list appears complete.

Suggest adding a scroll bar or other visual indication of scroll to get to more features.

v0.1(66)
iOS 13.3.1, iPhone X
![image](https://user-images.githubusercontent.com/18055672/79187789-1bb9ff80-7dd2-11ea-8244-7854c0986599.png)

![i

[2020-04-14 13:22] i-schuetz commented on #109
It appears to be an Xcode bug.

See
https://github.com/ReactiveX/RxSwift/issues/2094
https://bugs.swift.org/browse/SR-11564

It may be fixed by upgrading Xcode. Otherwise we can try out this workaround:

(https://github.com/ReactiveX/RxSwift/issues/2094#issuecomment-548972358)

[2020-04-14 16:37] #85 closed

[2020-04-14 16:37] duskoo commented on #85
Done

[2020-04-14 18:49] astewart43-gtri opened #111 "Contact Alerts Visual bug"
When you have a list of new contact alerts, after tapping to select different alerts multiple times, eventually the text will become scrambled.

**Screenshots**
![IMG_0002](https://user-images.githubusercontent.com/62766475/79262295-148d0300-7e5f-11ea-98af-27126b7cd5e3.PNG)

[2020-04-14 19:06] #104 closed

[2020-04-14 23:11] #102 closed

[2020-04-15 01:20] markingle commented on #109
Thanks @i-schuetz !!! Setting DCS to No fixed it!

[2020-04-15 01:20] #109 closed

[2020-04-15 02:07] scottleibrand commented on #109
@markingle To confirm, this only occurred on a local build with DCS, not on an App Center distributed build?

[2020-04-15 02:26] markingle commented on #109
Correct!

On Tue, Apr 14, 2020 at 10:07 PM Scott Leibrand <notifications@github.com>
wrote:

--
Mark Ingle

Maker of Things

[2020-04-15 18:28] i-schuetz commented on #95
I personally prefer to do the translations always in code. This way they in the same place and with SwiftGen it's very handy. When we transition to SwiftUI we'll need to have them in code anyway.

[2020-04-15 18:38] i-schuetz commented on #81
Yep, we're already using rx bindings for the notifications (see `UIViewController+Rx`). `UIBindingObserver` is from older RxSwift versions (I question though this particular usage, as the notifications don't need the view controller. But we can revisit this later. For the progress indicator it does makes sense).

[2020-04-15 18:40] i-schuetz commented on #81
Why is this marked as invalid, btw? Will we not use a progress indicator when submitting the reports?

[2020-04-15 21:45] ericlavigne commented on #95
"I personally prefer to do the translations always in code."

That sounds like a good plan. Thanks.

[2020-04-15 22:46] duskoo commented on #81
I understood we should put the progress indicator issue on hold, so

I understood we are putting progress indicator feature on hold...
I will remove the labels.

[2020-04-15 22:47] duskoo commented on #89
Share button on home screen added.
Share popup after reporting symptoms - removed (see #102 ).

[2020-04-15 22:47] #89 closed

[2020-04-15 22:52] duskoo commented on #93
https://stackoverflow.com/a/54006948

[2020-04-16 22:32] astewart43-gtri commented on #92
Background notification have been added. However, tapping the notification brings the user to the home screen of the app. a link to the alerts page still needs to be added.

[2020-04-16 22:32] astewart43-gtri commented on #92
Notifications still need to be issued when the app is in the foreground. Perhaps something similar to the successful symptom report notifications?

[2020-04-16 22:34] astewart43-gtri commented on #93
This has been added to update when the alert page is loaded in PR 113. However it still needs to be dynamically updated whenever the contact alerts are finished being processed.

[2020-04-17 01:51] danamlewis opened #114 "Acknowledged contact alerts should be cleared"
After hitting 'acknowledge', the contact alert page shouldn't re-show the same alerts over and over again.

[2020-04-17 01:52] danamlewis commented on #79
@astewart43-gtri any status updates on this? should this be updated to reflect 0.4 (and therefore close https://github.com/Co-Epi/app-ios/issues/91 if it's a duplicate - or are these completely separate steps to migrate?)?

[2020-04-17 02:10] astewart43-gtri commented on #79
If I understood the discussions Wednesday evening, this is now a duplicate. That v0.3 has been "renamed" to v0.4 Is that correct?

[2020-04-17 22:41] scottleibrand opened #115 "Battery usage too high"
CoEpi build 70 has used 55% of my battery over the last day from background activity, draining the phone's battery over the course of a few hours.

We need to make sure we're only processing each TCN Key a single time (the first time we download it). If that doesn't account for the vast majority of the background energy usage, we might need to profile what else is being performed continually in th

[2020-04-18 01:18] scottleibrand commented on #114
May be fixed by the same change as https://github.com/Co-Epi/app-ios/issues/115

[2020-04-18 01:18] scottleibrand commented on #115
May be fixed by the same change as https://github.com/Co-Epi/app-ios/issues/114

[2020-04-18 05:53] scottleibrand commented on #79
Closing in favor of #91

[2020-04-18 05:53] #79 closed

[2020-04-18 05:58] scottleibrand commented on #81
Per conversation with @i-schuetz, our current thinking is this would just be an "indefinite progress indicator": a spinning circle that indicates we're doing something, not a progress bar.

[2020-04-18 09:01] i-schuetz commented on #92
Maybe badges? Adding a small bubble with "new" (or similar) on the top right corner of the alerts item in home and the individual alerts in the alerts view?

[2020-04-18 12:26] i-schuetz opened #116 "Include previous time interval in the CEN candidate generation"
Currently there can be a transition to the next rounded timestamp in the delay between the CEN generation by the sender and the storing by the receiver (which sets its timestamp to "now").

With the current algorithm, this should be fixed by generating a candidate CEN for the previous rounded time stamp too.

[2020-04-18 12:57] i-schuetz opened #117 "Refactor home to use table (or collection) view"
Before we add more changes to this screen, it should be refactored to show all the entries (including the debug data) in a table view. If needed, see debug view model for table view with mixed row types example.

[2020-04-19 06:25] ericlavigne commented on #95
All translations are now defined in Localizable.strings and applied in code. This already looks much nicer. I'll try SwiftGen next.

I applied symptom name translations within the "repo" code rather than in the UI. Are these names stored or sent over the network, so that using translated names might cause problems?

[2020-04-19 16:00] i-schuetz commented on #95
Currently they're just local. It's fine to translate directly in the repo. The idea is to remove this if/when the backend sends the symptoms (which would be already translated).

[2020-04-20 18:15] i-schuetz commented on #114
If matched only new keys (delta from last fetch), this problem would be solved, but we'd miss possible new CENs for old keys. Not sure whether there's a solution for this or perhaps it's admissible, given that users that report symptoms are likely to take protective measures / distance.

The other solution would be doing the filtering after the matches. When the alerts are ACK-ed we'd only set a "

[2020-04-20 23:22] #116 closed

[2020-04-22 00:02] ericlavigne commented on #95
@i-schuetz The code for this issue is ready for review: https://github.com/Co-Epi/app-ios/pull/123

[2020-04-22 00:25] ericlavigne commented on #110
The list of symptoms is not long enough to justify scrolling at all. I'm going to look into layout options so that scrolling is unnecessary.

[2020-04-22 01:23] danamlewis commented on #110
(V0.2 UX work is taking care of this)

On Tue, Apr 21, 2020 at 6:20 PM Eric Lavigne <notifications@github.com>
wrote:

--
Dana Lewis | http://OpenAPS.org | http://DIYPS.org <http://diyps.org> |
@DanaMLewis <http://www.twitter.com/danamlewis> |
http://www.linkedin.com/in/danalewis
"Doing something for someone else is more important than anything you would
do for yourself."

[2020-04-22 01:35] astewart43-gtri opened #124 "TCNCoalition package dependency graph issue"
When trying building develop, I get the following error:

<img width="674" alt="image" src="https://user-images.githubusercontent.com/62766475/79930893-a674ad00-8417-11ea-9508-de68c033f4fa.png">
 In the "Swift Package Dependencies" list, tcn-client-ios is greyed out:
<img width="298" alt="image" src="https://user-images.githubusercontent.com/62766475/79931007-e8055800-8417-11ea-8469-034319a6b641.p

[2020-04-22 03:11] ericlavigne commented on #110
@danamlewis It sounds like I should stop working on this until the new designs are finished. What should happen to this ticket? Close it?

[2020-04-22 08:46] duskoo commented on #124
@astewart43-gtri Which Xcode version are you using? See PR #122

[2020-04-22 13:26] astewart43-gtri commented on #124
I am on 11.3.
That is interesting...

[2020-04-22 14:10] astewart43-gtri commented on #124
Switching to that branch resolved the TCN issue.
I now have the below error:
<img width="301" alt="image" src="https://user-images.githubusercontent.com/62766475/79992317-53374480-8481-11ea-912d-2315a5a611ba.png">

Will look into it and update this issue when I find a solution.

[2020-04-22 15:54] Sam-gtri opened #125 "Symptom reporting button "reports" when nothing is selected"
**Describe the bug**
Submit button for symptoms reports even if nothing is selected - should be disabled unless a box has been ticked

[2020-04-22 16:44] scottleibrand commented on #125
Let's hold off on fixing this: it's useful during the beta to be able to generate reports for testing without confusing anyone as to whether they're "real".

[2020-04-22 17:26] #81 closed

[2020-04-22 17:44] i-schuetz commented on #124
https://github.com/Co-Epi/app-ios/pull/122 is approved. We should keep this open though until they release a new version. We shouldn't depend on develop.

[2020-04-23 20:46] scottleibrand commented on #114
New TCNs for old keys should be disallowed: the `rak` needs to be rotated whenever we submit a report, so that no one receiving the report can impersonate the reporter by generating new TCNs with the newly-revealed `rvk` and `tck`s.

[2020-04-24 18:46] i-schuetz commented on #98
I added setup instructions to the README. For the branches, we use [gitflow](https://www.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow), but I'm a bit wary of linking to it in the README, because we're not following it strictly at the moment. In short, `develop` contains our most recent (merged) work, and `master` the releases.

[2020-04-24 20:01] #98 closed

[2020-04-25 01:00] #95 closed

[2020-04-25 03:28] ericlavigne opened #130 "Translate CoEpi into common languages"
Build on previous internationalization work (English/Spanish) to translate CoEpi into 8 other languages: German, French, Portuguese, Chinese (traditional/simplified), Korean, Russian, and Japanese.

[2020-04-25 05:32] scottleibrand commented on #115
This is looking much better in the latest builds. Today I'm only at 3% battery usage for CoEpi background activity. If no one sees any other issues in the next few days, I'll close this.

[2020-04-25 09:57] i-schuetz commented on #130
@danamlewis Do we have people that can proof read these translations?

[2020-04-25 16:23] #130 closed

[2020-04-25 16:24] ericlavigne commented on #130
"Do we have people that can proof read these translations?"

I posted a proof reading request in the "general" slack channel on Thursday but received no responses. At this point my inclination is to release the translations as-is and wait for someone to complain. The text is easy to change later.

[2020-04-25 22:51] scottleibrand opened #132 "Display exposure matches in local time"
Currently, exposure matches are displayed in UTC. It'd be more convenient if they used the local system timezone instead.

[2020-04-26 14:17] i-schuetz opened #135 "Manual alerts update and status label"
Allow to update alerts manually and show a label when an update is happening. For now aimed to testers. Unclear whether it should be available for regular users.

[2020-04-26 17:47] #135 closed

[2020-04-26 18:51] scottleibrand opened #138 "Error updating: error(message: "Couldn\'t parse response: ke ..."
When I open Build 86 and go to Contact Alerts, it displays “Updating…” for awhile (maybe 30-60s) and then displays "Error updating: error(message: "Couldn\'t parse response: ke" (with the rest of the message cut off and not scrollable).

![image](https://user-images.githubusercontent.com/6982790/80316732-49c91780-87b4-11ea-96d6-0ceb9160d057.png)

[2020-04-26 19:11] i-schuetz commented on #138
Fixed the layout.

[2020-04-26 19:11] #132 closed

[2020-04-26 19:15] i-schuetz commented on #114
I fixed it for 0.2 by marking the reports as deleted (as described). Can you open a new issue for this?

[2020-04-26 20:19] scottleibrand commented on #138
![image](https://user-images.githubusercontent.com/6982790/80318674-9155a080-87c0-11ea-8b73-b732023d01f4.png)

[2020-04-26 20:52] i-schuetz commented on #114
For 0.2 I'm marking the alerts as deleted (as described). Can you open a new issue for the 0.4 backend?

[2020-04-26 21:03] danamlewis opened #145 "New UX - symptom report screen"
See Figma for details.

![image](https://user-images.githubusercontent.com/7468165/80319675-91589f00-87c6-11ea-823f-b1c0402cf97a.png)

Note - may tweak the background rectangle 'texture' design, so can be built in the interim to focus on buttons etc.

[2020-04-26 21:04] danamlewis opened #146 "New UX - Thank you screen"
See Figma for details.

![image](https://user-images.githubusercontent.com/7468165/80319718-cd8bff80-87c6-11ea-90c5-3f0c50dc596d.png)

[2020-04-26 21:10] danamlewis opened #147 "New UX - 3.1, 3.2, 3.3 cough follow up screens"
See Figma for latest

![image](https://user-images.githubusercontent.com/7468165/80319766-0cba5080-87c7-11ea-8537-d90170d21ff2.png)

(3.2 scale may change)

[2020-04-26 21:11] danamlewis opened #148 "New UX - 4.1 shortness of breath follow up"
See Figma for latest

![image](https://user-images.githubusercontent.com/7468165/80319863-be598180-87c7-11ea-80ea-65b7269b4e5c.png)

(circles will include graphic visuals)

[2020-04-26 21:12] danamlewis opened #149 "New UX - 5.1 fever"
See Figma for details.

![image](https://user-images.githubusercontent.com/7468165/80319891-ddf0aa00-87c7-11ea-9ff7-87186da032dd.png)

[2020-04-26 21:14] danamlewis opened #150 "New UX - 5.2a Fever"
See Figma for details.

![image](https://user-images.githubusercontent.com/7468165/80319962-37f16f80-87c8-11ea-8ed5-0de9f525f8f9.png)

[2020-04-26 21:15] danamlewis opened #151 "New UX - 5.3a Fever"
See Figma for details.

![image](https://user-images.githubusercontent.com/7468165/80319973-5192b700-87c8-11ea-82e3-296c4c06bb2a.png)

[2020-04-26 21:16] danamlewis opened #152 "New UX - 5.4a Fever"
see Figma for details.

![image](https://user-images.githubusercontent.com/7468165/80319988-725b0c80-87c8-11ea-80f3-fbefcc49ae97.png)

[2020-04-27 04:15] scottleibrand commented on #115
Battery usage remains reasonable. Closing.

[2020-04-27 04:15] #115 closed

[2020-04-27 04:19] scottleibrand commented on #145
How do we intend for this UI to adapt to multiple screen and font sizes? Will it end up with a scroll bar? If so, we need to make sure we don't repeat https://github.com/Co-Epi/app-ios/issues/110 with it.

[2020-04-27 04:20] scottleibrand commented on #110
This can probably be closed, as long as we design the UI for https://github.com/Co-Epi/app-ios/issues/145 to avoid repeating the issue.

[2020-04-27 16:33] scottleibrand opened #155 "Retry less aggressively if backend server is down"
When the backend server is down, CoEpi continuously retries to connect to it. We should add some form of backoff.

[2020-04-27 17:31] scottleibrand opened #156 "Refresh less aggressively"
iOS build 94 refreshes exposure matches constantly (literally every second), even when background. Refreshes should occur every X minutes, not continually.

[2020-04-27 17:33] scottleibrand commented on #155
May or may not be the same issue as #156

[2020-04-27 17:35] scottleibrand commented on #125
Fixed in #127

[2020-04-27 17:35] #125 closed

[2020-04-27 17:35] scottleibrand commented on #138
Fixed as of build 94, probably via #154

[2020-04-27 17:35] #138 closed

[2020-04-27 17:38] scottleibrand commented on #92
The notification pops up whether the app is foregrounded or backgrounded, and tapping it takes the user to the contacts alert screen. This is good enough for the current UI/UX: we can open a new issue for further enhancements. Thanks!

[2020-04-27 17:38] #92 closed

[2020-04-27 17:45] scottleibrand opened #157 "Store and display estimated distances and durations"
The TCN library now reports estimated distances. When storing a TCN, we should store the average and minimum distance observed for each one, and if there's later an exposure match, display the estimated distance for the observed TCN. If more than one TCN matches from a given TCK, we should also display the duration of the contact.

[2020-04-27 17:51] scottleibrand commented on #156
The constant refreshing is only occurring on one of my two iPhones. The other phone is refreshing every ~4 minutes.

[2020-04-27 17:53] scottleibrand commented on #155
The constant retries-if-down occur on both of my iPhones, not just the one that was refreshing constantly when the server was up.

[2020-04-27 18:10] scottleibrand opened #158 "Estimate and display contact durations on exposure match"
If more than one TCN matches from a given TCK, we should estimate and display the duration of the contact.

[2020-04-28 13:56] astewart43-gtri commented on #93
Currently, the behavior is to show to number of unseen alerts( as added in PR 113). Once the alerts view is loaded, the badge resets. Does this need to be changed to show the number of unacknowledged?

[2020-04-28 18:33] scottleibrand opened #162 "Implement data model for new UX"
Once the new UX screens are implemented, we need to implement a data model for storing their results and then wiring that up to the new v0.4 cloud API backend.

[2020-04-28 18:41] #124 closed

[2020-04-29 02:24] scottleibrand commented on #93
I actually think I prefer the current behavior.

[2020-04-29 15:02] astewart43-gtri commented on #93
so can this issue be closed?

[2020-04-29 16:39] i-schuetz commented on #156
Closing as it was reported that if was fixed.

[2020-04-29 16:39] #156 closed

[2020-04-29 19:43] scottleibrand commented on #93
Hearing no objections, yes.

[2020-04-29 19:43] #93 closed

[2020-04-29 19:55] astewart43-gtri commented on #111
I can no longer product this bug. Perhaps related to the refactoring of alerts when pull to refresh was added.

[2020-04-29 20:33] i-schuetz commented on #111
The pull to refresh is just a subview of the table view and shouldn't affect this. I don't remember having done any other modifications to the layout.

[2020-04-29 21:05] astewart43-gtri commented on #111
hmm, interesting. I will keep trying to reproduce the bug.

[2020-04-30 05:18] scottleibrand opened #163 "JSON serialization error updating exposure matches"
![FAC02B0F-2EA6-467E-897D-8458A145C170](https://user-images.githubusercontent.com/6982790/80674552-16fa7a00-8a67-11ea-9a3c-7a21e49ff79f.jpeg)

This is with iOS build 95.

[2020-04-30 19:51] astewart43-gtri commented on #111
This seems to be resolved, but I am unable to identify the commit that fixed it.

[2020-05-01 00:11] scottleibrand commented on #155
May have been fixed with #156 - will reopen or open new if the server goes down and I see it again.

[2020-05-01 00:11] #155 closed

[2020-05-04 02:51] astewart43-gtri commented on #110
Closing because resolved by new UI

[2020-05-04 02:51] #110 closed

[2020-05-07 01:24] danamlewis commented on #148
@astewart43-gtri figma now has icons to pull in

[2020-05-07 01:25] astewart43-gtri commented on #148
Great. Did we get an answer about what should be the intractable element?

[2020-05-07 01:27] danamlewis commented on #148
@astewart43-gtri she said either (so both icon and text should be clickable, which I think we had defaulted to)

[2020-05-07 01:36] danamlewis opened #165 "New UX - home screen(s)"
see Figma for details

![image](https://user-images.githubusercontent.com/7468165/81244894-73f6b280-8fc8-11ea-97bd-f9c95eb10131.png)

![image](https://user-images.githubusercontent.com/7468165/81244903-79ec9380-8fc8-11ea-8181-681073aa3b9d.png)

[2020-05-07 01:40] danamlewis opened #166 "New UX - onboarding"
see Figma for details

![image](https://user-images.githubusercontent.com/7468165/81245103-08611500-8fc9-11ea-9475-ed9b1a235029.png)

I want to tweak this text but Figma is using a font I don't have  so please tag me in the PR for these screens and I'll plan to edit it there.

[2020-05-07 07:20] i-schuetz commented on #166
As a first step, let's use a fixed height for all the slides (the max possible).

[2020-05-07 07:23] i-schuetz commented on #166
How does the transition between the slides look like?

[2020-05-07 20:11] i-schuetz commented on #148
Note: Should use table view. Same argumentation as in the [Android issue](https://github.com/Co-Epi/app-android/issues/118).

[2020-05-07 20:14] i-schuetz commented on #151
The rounded buttons should be implemented with a collection view (which works with an arbitrary number of buttons and thus is also reusable for the screens with 2 buttons). If you have problems centering them, it's ok to submit with a flow from left to right and we add this later.

[2020-05-08 17:49] i-schuetz commented on #117
We decided to close this for now, as the ongoing PR was consuming too much time. It's low prio, as there's already a functional layout. We may resume if at some point we need to add more cells.

[2020-05-08 17:49] #117 closed

[2020-05-09 16:16] i-schuetz commented on #151
Update: If you haven't started yet, it's fine for now to use static layouts and we refactor later. Collection view is not beginner friendly and we shouldn't get stuck because of the UI. If you started already let's continue and I can help, if needed.

[2020-05-10 06:18] astewart43-gtri commented on #151
I have not gotten to it yet, but it is on the list.
Thanks!

[2020-05-10 13:34] i-schuetz commented on #151
It also just occurred to me that since _at some point_ we will migrate to SwiftUI, we can be lenient with this UI, as it will be entirely replaced.

[2020-05-12 05:39] astewart43-gtri commented on #165
I am unsure how to point the bluetooth permissions to the localized text. Otherwise, this will be completed by merging the new UX

[2020-05-12 05:40] astewart43-gtri commented on #151
Sounds good. in the version currently in the PR, the layout is statically defined.

[2020-05-12 05:40] #111 closed

[2020-05-12 07:35] astewart43-gtri commented on #148
completed and will be closed by new UX PR

[2020-05-12 18:39] danamlewis opened #167 "New UX - date since earliest symptoms screen"
Goal: we want to add a screen where, at the end of the symptom workflow (after any severity workflow is done), to ask users what the earliest day of the symptom onset was?

Use same design as the 'how many days of cough'/fever screen, but we'll adjust the text depending on whether there is a single symptom submitted, or multiple.

![image](https://user-images.githubusercontent.com/7468165/81732211

[2020-05-14 00:21] astewart43-gtri commented on #167
this is completed and will be closed when new ux is merged.

[2020-05-14 06:36] astewart43-gtri commented on #166
completed logic. small visual bug remains. can be dealt with after merging under a new tick as discussed in the backend meeting on 5/13/20.

[2020-05-14 16:05] #145 closed

[2020-05-14 16:05] #146 closed

[2020-05-14 16:05] #147 closed

[2020-05-14 16:05] #148 closed

[2020-05-14 16:05] #149 closed

[2020-05-14 16:05] #150 closed

[2020-05-14 16:05] #151 closed

[2020-05-14 16:05] #152 closed

[2020-05-14 16:05] #165 closed

[2020-05-14 16:05] #166 closed

[2020-05-14 16:05] #167 closed

[2020-05-14 17:13] astewart43-gtri opened #169 "On boarding Visual Bug"
Correct on 8 and 11 pro, incorrect on the 8+, 11, and 11 pro max.

<img width="566" alt="image" src="https://user-images.githubusercontent.com/62766475/81964452-98641780-95e4-11ea-9ef4-b3aeaa66fd14.png">

<img width="497" alt="image" src="https://user-images.githubusercontent.com/62766475/81964428-913d0980-95e4-11ea-81f9-7f94e93d1cfd.png">

[2020-05-14 17:18] astewart43-gtri opened #170 "date since earliest symptoms text"
iOS and Android currently have different title and heading text for the days since earliest symptom page.
Which one should we go with?

[2020-05-15 15:47] astewart43-gtri commented on #162
work is in newUX-DataModel

[2020-05-15 16:10] i-schuetz commented on #162
The idea here is to do a 1:1 port of Android. Ideally this should be in the Rust library.

[2020-05-15 16:20] i-schuetz commented on #162
Let's split this in 2 parts and start with part 1:

1) Navigation flow: This is nearer to the UI, so not in the Rust lib. Should be mostly identical to: https://github.com/Co-Epi/app-android/blob/97d072e06870f141ff29d13e73f9641c8e4216f8/app/src/main/java/org/coepi/android/domain/symptomflow/SymptomFlow.kt (and related, e.g. `SymptomFlowManager`, `SymptomRouter`).

2) Data model: I'm not 100% sure

[2020-05-15 16:25] astewart43-gtri commented on #162
sounds good. I will make a separate branch (newUX-Navigation) to deal with the navigation flow. I plan to work on hooking up all the new UX screens to show as necessary. will leave the data model piece (branch newUX-DataModel) for now.

[2020-05-15 16:42] i-schuetz commented on #162
Just want to reiterate the "identical": The code managing the flow should be a 1:1 port, as far as Swift allows (same structure, names, etc., while being idiomatic of course, but Kotlin is very similar so it shouldn't be difficult). This will ease possibly moving logic later to Rust. The code that's very near to the UI (view controllers, updating the navigation controller) of course has to be diff

[2020-05-15 16:45] astewart43-gtri commented on #162
Thanks! Will likely follow up in slack later today.

[2020-05-21 01:06] danamlewis opened #175 "New UX - exposure alert screen(s)"
![image](https://user-images.githubusercontent.com/7468165/82512279-7414a900-9ac4-11ea-8a0a-d6a4d5f3d247.png)

see figma for details.

[2020-05-22 14:44] i-schuetz opened #178 "Cleanup new UX view controllers"
View controllers should be limited to UI things. Move model data, logic and observables to view models. Observe via driver or binders. See implementation of older view controllers.

[2020-05-24 15:36] i-schuetz opened #179 "Replace os_log?"
Opinions wanted:

Advantages of os_log:
- Allow to use the system's console app, allowing people that's not using Xcode to run the app to see the logs (but: does anyone do this?)
- Console app has better UX (e.g. to filter logs) than Xcode's console.

Disadvantages:
- Complicated to use: It requires to import `os.log`, to use special placeholders for the variables to be readable, it doesn't allow

[2020-05-24 18:38] duskoo commented on #179
os_log is highly opinionated with focus on performance and privacy. It does not allow easy access to the persisted log files (which are in binary format). For this one must use the system diagnose feature of iOS (which I am not familiar with). We will definitely not be able to show the log entries in the app or upload them to a server (if that is what is meant by cloud logging).
They do offer a pe

[2020-05-24 19:27] i-schuetz commented on #179
@duskoo yes, with cloud logging I mean uploading the logs to a remote server. E.g. [SwiftyBeaver](https://github.com/SwiftyBeaver/SwiftyBeaver) has a platform for that. With a generic wrapper we'd be able to switch the logger or log to multiple places (e.g. print, the logs screen and the cloud).

Keep in mind that most of the critical code will be in Rust (including the matching). I'm planning at

[2020-05-25 19:51] scottleibrand commented on #179
I'd be ok switching away from os_log, provided we have some other way to get logs with whichever other solution we replace it with.

[2020-05-27 15:41] ronenTG opened #186 "NativeCore.swift is broken"
I checked out the develop branch.
the following methods cannot be found:

`bootstrap_core(dbPath)`
`record_tcn(tcnStr)`
`fetch_new_reports()`
`set_symptom_ids(string)`
`set_cough_type(identifier)`
`set_cough_days(
            input.isSetInt,
            UInt32(input.toOptional()?.value ?? 0)
        )`
`set_cough_status(identifier)`
`set_breathlessness_cause(identifier)`
`set_fever_days(

[2020-05-27 15:50] i-schuetz commented on #186
Did you run `Carthage bootstrap` (as specified in the readme)? These methods come from a native library, maintained [here](https://github.com/Co-Epi/app-backend-rust/releases).

[2020-05-27 16:15] i-schuetz opened #187 "Localize alert symptoms"
Prepare localized / formatted strings for the new alert contents:
[code]

The corresponding TODOs can be found in [AlertsViewModel](https://github.com/Co-Epi/app-ios/blob/develop/CoEpi/ui/alerts/AlertsViewModel.swift).

[2020-05-27 17:33] i-schuetz commented on #175
@astewart43-gtri @Sam-gtri @aaruth3 Can you please give a status update? Who is working on this?

[2020-05-28 01:42] mellowgeek opened #189 "Address Accessibility in App"
Look into what needs to happen to make the app accessible following [Apple best practices for iOS](https://developer.apple.com/accessibility/ios/)

[2020-05-28 06:26] ronenTG commented on #186
Yes that's what i did.
However, now that you've mentioned where these libraries come from, i realized the `Carthage bootstrap` command downloads the wrong version of app-backend-rust: `app-backend-rust at "0.1"`
I changed the `Cartfile.resolved` file from version 0.1 to 0.1.4

[2020-05-28 09:01] duskoo commented on #186
carthage update, on the other hand, would update the project to use the newest compatible versions of each dependency, which may not be desirable.

Source: https://www.raywenderlich.com/416-carthage-tutorial-getting-started

[2020-05-28 13:06] i-schuetz commented on #186
Okay, the readme isn't incorrect, but we should explain updating too.

[2020-05-28 13:20] #186 closed

[2020-05-28 17:02] Sam-gtri commented on #175
@i-schuetz I am working on this one

[2020-05-28 19:05] i-schuetz opened #190 "Refine symptoms flow"
Now that the navigation flow works, please go through all the report screens and complete anything that's not working or displaying incorrectly. If it's not minor and doesn't have an issue already, you can create one. @Co-Epi/ios

[2020-05-28 19:08] i-schuetz opened #191 "Input validation and correct keyboard type"
Go through symptom flow inputs:
- Show correct keyboard (e.g. numeric for number inputs)
- Ensure there's no autocompletion etc. where not needed.
- Ask about handling of incorrect inputs (e.g. user copy pastes text in numeric keyboard) with UX. Since this seems a corner case, implement a simple solution (e.g. just clearing the input).
- Min/max values and overflow handling.

[2020-05-28 19:14] i-schuetz opened #192 "Fix button backgrounds"
- Ensure symptom/submit/skip etc. button backgrounds are consistent (sizes, rounded corners) and look good in all screen sizes.
- If needed implement background programmatically (use `layer` for rounded corner and borders)
- Check Figma/ask UX re: disabled button presentation. Apply to buttons that have a disabled state (e.g. symptom selection screen when there are no symptoms selected).

[2020-05-28 20:33] i-schuetz commented on #187
Assigned to @Sam-gtri since this is part of the alerts.

[2020-05-28 20:34] i-schuetz commented on #187
Closing since this is part of the new alerts screen.

[2020-05-28 20:34] #187 closed

[2020-05-28 22:15] duskoo commented on #186
Quick clarification:
@i-schuetz  carthage update will grab the latest lib release and that is ok during dynamic development.
Ideally, we want each commit in iOS repo to reference corresponding lib release (to have correct version in Cartfile.resolved) as @ronenTG mentioned.
That way, if one needs to debug a particular app build, he can checkout the commit (which would contain correct lib version i

[2020-05-29 07:38] i-schuetz commented on #186
Ah - right. The problem is that when working with Rust, we update the dependency with a script, so the `Cartfile.resolved` file doesn't get updated. We should update it, of course.

[2020-05-31 18:14] i-schuetz commented on #162
Addressed mostly in Rust library.

[2020-05-31 18:14] #162 closed

[2020-06-01 08:42] i-schuetz opened #199 "Remove Roboto font"

[2020-06-01 12:01] duskoo commented on #199
Slack comment might be about removing files from Figma, not from the app:
https://coepi.slack.com/archives/CUQGSQQ3A/p1590965002287500
Lets confirm before making the changes...

[2020-06-01 15:50] i-schuetz commented on #199
See UX channel: https://coepi.slack.com/archives/CUR0KQRNG/p1590961570397400?thread_ts=1590750586.393800&cid=CUR0KQRNG

[2020-06-01 16:38] i-schuetz opened #201 "Implement home item backgrounds programmatically"
Alternatively https://developer.apple.com/documentation/uikit/uiimage/1624102-resizableimagewithcapinsets

The images currently don't scale well.

![44499](https://user-images.githubusercontent.com/1381744/83431043-0018c000-a437-11ea-85ba-7d41bc713ac9.jpg)

[2020-06-01 16:48] i-schuetz opened #202 "Improve layout on iPad / autolayout in general"
The UI is pretty much broken on iPad. It's probably not mandatory to optimize for iPad yet, but it should be passable.

[2020-06-01 18:42] #201 closed

[2020-06-02 20:10] astewart43-gtri opened #205 "Update Symptom Report Text"
The symptom report screen has been reverted to the old health quiz style. The buttons need to be updated to the text found in Figma. This will add an additional selection indicating no symptoms. as well as replacing some others.

These are already in the localization file as shown below:
    //symptomReport
"UX.symptomReport.heading" = "Symptom Report";
"UX.symptomReport.title" = "What symptoms do

[2020-06-03 02:30] astewart43-gtri opened #207 "Fever "other" does not show free style text box"
A screen to input where your temperature was taken if you select "other" was made but is not currently used. should it be removed from the project or added to the workflow?

[2020-06-03 02:32] danamlewis commented on #207
Removed. Thanks!

On Tue, Jun 2, 2020 at 7:30 PM astewart43-gtri <notifications@github.com>
wrote:

--
Dana Lewis | http://OpenAPS.org | http://DIYPS.org <http://diyps.org> |
@DanaMLewis <http://www.twitter.com/danamlewis> |
http://www.linkedin.com/in/danalewis
"Doing something for someone else is more important than anything you would
do for yourself."

[2020-06-03 02:34] #207 closed

[2020-06-03 02:49] astewart43-gtri opened #208 "back button breaks at thank you screen"
if you navigate through the quiz to the thank you screen, hit the back button, and then submit the quiz again, the app crashes on line 55 of SymptomFlowManager.swift

[2020-06-03 06:12] i-schuetz commented on #208
The back button in the thank you screen was [removed](48b4dae6822a09cb94042686c0458e9505c8365a). Is this not working?

[2020-06-03 14:21] astewart43-gtri commented on #208
I just tested on develop, it has been removed there. I must have branched before this change.

[2020-06-03 14:21] #208 closed

[2020-06-03 17:43] astewart43-gtri opened #210 "breathless selection not in navigation."
When on the breathless page, selecting one of the options does not move you forward in the navigation. Skipping works fine and takes you to the next page in the navigation.

[2020-06-03 21:59] #199 closed

[2020-06-03 22:13] astewart43-gtri commented on #94
Was the intent to have a "number of days" page for each symptom? or is the pages asking about having "any" symptoms sufficient?

[2020-06-04 00:42] danamlewis commented on #175
Suggested text for "What are exposure alerts?" page

Exposure alerts indicate that you have been in close proximity (e.g. within several feet) to another user with a mobile device running a compatible app. In CoEpi, an exposure alert will be generated if your device has logged a temporary contact number from the interaction, and that device's user later shares a symptom report that indicates the u

[2020-06-04 01:11] astewart43-gtri commented on #94
As discussed in the call, closing for now. May reopen later if we decide we need a time for each symptom.

[2020-06-04 01:11] #94 closed

[2020-06-04 01:25] astewart43-gtri opened #216 "Symptom Report question flow shows extra step"
Selecting the option "I don't have any symptoms today" and submitting takes you to the "earliest symptoms" follow up screen. Instead, it should go directly to the "thanks" screen.

[2020-06-04 07:27] i-schuetz opened #217 "Show CI status in PRs"
Setup continuous integration to show status (compiling, tests) in PRs.

[2020-06-04 07:31] i-schuetz opened #218 "Configure linter"
And integrate in CI process. Linter errors should fail the build and not allow to merge PRs.

[2020-06-04 21:17] i-schuetz opened #221 "Implement "What are exposure  alerts?" screen"
The modal is already wired. Add contents from Figma.

[2020-06-05 17:30] i-schuetz opened #227 "Check / fix onboarding button styles"

[2020-06-05 17:31] i-schuetz commented on #227
This is included in existing buttons issue.

[2020-06-05 17:31] #227 closed

[2020-06-05 20:12] #205 closed

[2020-06-05 21:02] LookItsJosh opened #228 "Graceful handling of poorly formatted backend responses"
This is a problem with the Android app, working on replicating the bug with the iOS version.  If already addressed please ignore.  If not, this may prevent security issues down the line.

For android: the app crashes if it receives an incorrectly formatted (non-base64 encoded) response from the backend. App should gracefully handle any corrupt or unexpected API responses without crashing

[2020-06-06 00:38] #190 closed

[2020-06-06 10:38] duskoo opened #231 "Compiler warning in DataRepresentable.swift"
The file seems unused and safe to remove (remnant from before the inclusion of The TCNClient lib).

[2020-06-06 11:16] ivnsch opened #232 "Port Android's loggers"
1:1 port (unless there are reasons to deviate):

Loggers:
https://github.com/Co-Epi/app-android/tree/develop/app/src/main/java/org/coepi/android/system/log
(in iOS the default logger would use `print`, or consider `NSLog` if it doesn't have the same restrictions as `os_log`)

Note that `CachingLog` is reactive. This is meant to be used by the logging screen (separate issue).

[2020-06-06 11:25] ivnsch opened #233 "Forward Rust logs to Swift"
Requirements:
https://github.com/Co-Epi/app-ios/issues/232
https://github.com/Co-Epi/app-backend-rust/issues/27
https://github.com/Co-Epi/app-backend-rust/issues/28

The idea is that the app registers a callback in rust (probably as part of `NativeCore.bootstrap`) and we call our global `log` with these logs.

Ideally Rust should level + text and forward in the app with the respective log level.

[2020-06-06 11:30] ivnsch opened #234 "Implement logs screen"
Port Android's log screen:

https://github.com/Co-Epi/app-android/tree/develop/app/src/main/java/org/coepi/android/ui/debug/logs

This should be implemented as a tab in the debug screen, together with the TCN tab (like in Android).

Like in Android, the screen should update immediately (achieved by reactive log from https://github.com/Co-Epi/app-ios/issues/232) and it should be possible to copy pa

[2020-06-06 11:32] ivnsch commented on #179
It will be replaced for 0.3.

[2020-06-06 11:37] #169 closed

[2020-06-06 11:46] ivnsch commented on #231
Yeah, we actually have to do a cleanup, removing all CEN and pre-Rust leftovers (which would include renaming things with "CEN" that are still needed to "TCN"). I was waiting after beta testing of 0.3 (to be more sure that we will keep the Rust lib) before doing this.

[2020-06-06 23:47] #170 closed

[2020-06-08 10:42] ivnsch commented on #91
This was solved in core (Rust).

[2020-06-08 10:42] #91 closed

[2020-06-08 13:54] ivnsch opened #237 "Replace os_log with new log"
- Replace calls to `os_log` with `log.v` / `log.d` / `log.i` / `log.w` / `log.e`
- Since we were not using log levels with `os_log`, please assign a level depending on context.
- Replace args with interpolation, e.g. `log.i("my message with argument: \(myArgument)")`
- Remove parameter `debugDescription` calls.
- Remove os.log imports.

[2020-06-08 14:14] ivnsch commented on #179
https://github.com/Co-Epi/app-ios/issues/237

[2020-06-08 14:14] #179 closed

[2020-06-08 16:09] #232 closed, assigned to ivnsch

[2020-06-08 18:22] #234 closed, assigned to ivnsch

[2020-06-08 19:04] #192 closed

[2020-06-08 20:41] #237 closed, assigned to mellowgeek

[2020-06-08 20:47] mellowgeek commented on #202
@i-schuetz Can we close this out with the updates that were made in the button background PRs? UI is much more consistent on the iPad now.

[2020-06-08 22:07] ivnsch commented on #202
Yeah, I also added some fixes today (e.g. for the splash screen). It's looking better now.

I just noticed however some issues: The pressed button state (e.g. in "Today my cough was") has a different shape than the normal one.

Also, the "I don't know" / "Submit" buttons scale differently to the others. They should be consistent.

[2020-06-08 22:08] #175 closed

[2020-06-09 10:36] i-schuetz commented on #202
Another point: The buttons in home should have a fixed height. On iPad they are occupying the entire screen which looks weird. On iPhone they also look a bit too large.

[2020-06-09 11:39] ivnsch opened #244 "Remove button background image"
The asset `smallOvalButton` (and similar, if there are others) should be removed. Check that there are no more buttons referencing it. E.g. "What are exposure alerts" is using it.

[2020-06-09 17:05] ivnsch commented on #228
This was not an issue in iOS.

[2020-06-09 17:05] #228 closed

[2020-06-09 17:51] #202 closed

[2020-06-09 17:51] #244 closed, assigned to mellowgeek

[2020-06-09 17:53] mellowgeek opened #249 "Refactor button highlighting in CoughHowViewController"
Right now, button highlighting is done via touch events on the buttons. Needs to be refactored after migrating to SwiftUI.

[2020-06-09 19:05] #210 closed

[2020-06-09 19:09] ivnsch opened #250 "Separate breathlessness images from background"
See https://github.com/Co-Epi/app-android/pull/152#discussion_r422685840

[2020-06-09 19:10] ivnsch commented on #249
I'm closing this, because the migration to SwiftUI is not near term and we probably have to rewrite everything, so there's no point in creating tickets for small refactorings.

[2020-06-09 19:10] #249 closed, assigned to nobody

[2020-06-09 19:14] #233 closed, assigned to duskoo

[2020-06-09 19:44] #216 closed

[2020-06-09 20:27] astewart43-gtri opened #253 "Visual bug iPhone SE2 Cough Page"
![image](https://user-images.githubusercontent.com/62766475/84196336-0d086580-aa6e-11ea-958c-c1c34588605d.png)

Button label truncated

[2020-06-10 08:47] #191 closed

[2020-06-10 08:48] #253 closed, assigned to astewart43-gtri

[2020-06-10 09:21] #221 closed

[2020-06-10 15:41] ivnsch opened #258 ""MyTCN" field in debug screen empty when device is restarted"
When doing a fresh install on 2 devices with BLE enabled, the TCN generation callback of both will be executed and the TCN will be shown in the debug screen ("My TCN"), and logs.

Restarting the app on one of the devices (from Xcode or stopping/re-opening on the device), however, will not trigger the TCN generation callback, which leaves "My TCN" field on the device empty:

- Why does this happen?

[2020-06-10 16:19] ivnsch opened #259 "Sometimes device detects own TCN"
This will show alerts for reports submitted by the user.

[2020-06-10 19:56] mellowgeek opened #261 "Multiple exposure alerts on the same day are not grouped by day"
![Screen Shot 2020-06-10 at 3 55 27 PM](https://user-images.githubusercontent.com/2046936/84312397-de07f780-ab32-11ea-94e6-6483df53abab.png)

[2020-06-10 20:16] Joshua-McCord opened #262 "Red Exposure Circle/Text is not showing"
**Description**
When the user has exposure alerts, there is no notification displayed. This is includes the red dot and red text showing the number of alerts.

**To Reproduce**
Steps to reproduce the behavior:
1. Get a new alert
2. Reload the page to show it
3. Navigate to home page
4. See error

**Expected behavior**
There should be the red dot and text

[2020-06-10 21:21] ivnsch opened #264 "Port Android's home"
Make home items a table view. Orient with e.g. debug BLE view controller or the logs view controller.

Port Android's view model logic to be able to show the notification dot/text reactively.

[2020-06-10 21:22] ivnsch commented on #262
Will be solved by https://github.com/Co-Epi/app-ios/issues/264

[2020-06-10 21:22] #262 closed, assigned to ivnsch

[2020-06-10 21:22] #261 closed, assigned to ivnsch

[2020-06-11 15:21] Joshua-McCord opened #266 "Exposure Alert Time Discrepency"
**Describe the bug**
I reported symptoms on an Android Phone and reloaded the Exposure Alerts on iOS. The exposure alert should read June 11th, 11:00 AM, but the actual alert said June 10th 4:00 PM.
The symptom was Breathlessness when "I stop for breath after walking about 100 yards..." (reported on Android, alerted for iOS).

**To Reproduce**
Steps to reproduce the behavior:
1. Report Breathless

[2020-06-11 16:03] #264 closed, assigned to ivnsch

[2020-06-11 18:20] ivnsch commented on #266
Couldn't reproduce it. Can you confirm that you're looking at the reported time, not the contact time?

[2020-06-11 18:32] Joshua-McCord commented on #266
It seems the reported time does say the correct time and date. Would the contact time not need to be the same as well? Or does the app remember when you were in contact and can lead to an exposure alert if the person records symptoms after the contact?

[2020-06-11 18:38] ivnsch commented on #266
Yeah, that's the idea! The contact is the time when you were near to the person. The report will usually happen at a different time.

[2020-06-11 18:50] #259 closed, assigned to nobody

[2020-06-11 19:04] Joshua-McCord commented on #266
Gotcha, I'll go ahead and close this!

[2020-06-11 19:04] #266 closed, assigned to nobody

[2020-06-12 01:22] danamlewis opened #268 "All symptoms should generate symptom reports/exposure notifications (bug in 0.3)"
Per @mellowgeek, we think symptoms that are not the severe symptom list are not sending to the server, similar to the related android issue (https://github.com/Co-Epi/app-android/issues/237), maybe because of https://github.com/Co-Epi/app-backend-rust/blob/master/src/reporting/public_report.rs ?

Any symptom someone enters in a report SHOULD go to the server and trigger exposure alerts.

While we'

[2020-06-12 06:18] i-schuetz commented on #268
I explicitly described the memo representation here: https://github.com/Co-Epi/app-android/issues/165.

The related is conversation is [here](https://coepi.slack.com/archives/C010SH87Y6B/p1589479375183000). It was not stated that all the symptoms should be sent, but implied: e.g. if we want to notify other users about wet, but not dry cough, because the later is less contagious, why would we notif

[2020-06-12 06:39] ivnsch commented on #268
I explicitly described the memo representation here: Co-Epi/app-android#165.

The related is conversation is [here](https://coepi.slack.com/archives/C010SH87Y6B/p1589570052196700), and a call IIRC. It was not stated that not all the symptoms should be sent, but implied: e.g. if we want to notify other users about wet, but not dry cough, because the later is less contagious, why would we notify the

[2020-06-13 23:11] scottleibrand commented on #268
Yes, this was a communication failure. Sorry about that.

We want end users to be able to decide for themselves what exposures are worth worrying about, which includes which symptoms are of interest. For now, that means we should generate exposure alerts for all symptoms.

What you documented in https://github.com/Co-Epi/app-android/issues/165#issuecomment-629436031 looks correct to me. But you ap

[2020-06-13 23:14] scottleibrand opened #270 "Yellow on white debug logs are hard to read"
![IMG_696B4A57D4BE-1](https://user-images.githubusercontent.com/6982790/84580927-d0e84400-ad90-11ea-8afc-bf005fb9bd34.jpeg)

[2020-06-14 08:04] ivnsch commented on #268
Okay. I didn't interpret this list as the complete list, it was (IIRC) a call, where it was said that things like muscle aches are irrelevant to user users, from which I inferred that it shouldn't be sent.

Can you please specify what to send/display if user selects fever and enters a non-fever temperature (and maybe other corner cases which I'm not thinking about)?

[2020-06-15 15:19] ivnsch commented on #178
I'm closing this because it was partly addressed in the last refactorings. For the rest it seems fine to let it like this, since it has to be rewritten for SwiftUI at some point and UI code isn't critical.

[2020-06-15 15:19] #178 closed

[2020-06-15 23:27] #270 closed, assigned to astewart43-gtri

[2020-06-16 19:26] duskoo opened #272 "RxSwift Issue: Synchronization anomaly was detected"
I have noticed this warning in the iOs app logs:

    This behavior breaks the grammar because there is overlapping between sequence events.
    Observable sequence is trying to send an event before sending of previous event has finished.

    This is undefined behavior because the ordering of the effects caused by these events is nondeterministic and depends on the
    operating system thread sch

[2020-06-17 00:33] duskoo opened #273 "setup_logger to return actual log level"
... or nothing at all

_Originally posted by @i-schuetz in https://github.com/Co-Epi/app-ios/pull/269_

[2020-06-17 04:51] danamlewis commented on #268
Thinking through the options and corner cases on reporting, see below. Let me know if you think this is missing any of the flows.

| User-facing option in the app            | Report to other users                                                                         |
|------------------------------------------|------------------------------------------------------------------------------------

[2020-06-17 09:27] ivnsch commented on #163
This was entirely rewritten with 0.4/Rust core.

[2020-06-17 09:27] #163 closed

[2020-06-17 09:38] ivnsch commented on #268
Thanks a lot for the table! Much better. Something new that stands out: do we really want to notify other users about no symptoms reported? Users may fill out the form routinely ("share how you are feeling": this doesn't suggest any relationship with being or having been sick), and we shouldn't send alerts for this.

[2020-06-17 11:19] ivnsch commented on #268
Also, we currently using the fever scale from [this issue](https://github.com/Co-Epi/app-android/issues/165). <99.5 F could be mild fever with it. Which should be use?

And just to confirm, are we not showing anymore "severe/mild" fever, but just "fever"?

[2020-06-17 14:08] sthomas313-gatech opened #275 "The input pages for follow ups doesn't seem to be checking input for errors."
**Describe the bug**
NOTE: I am running on a simulator rather than a physical device.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'CoEpi' App
2. Click on 'Symptom Report'
3. Click on any of the symptoms to prompt a followup.
4. Enter non-numeric values.
5. Click "Next" and it should go through without error checking.

**Expected behavior**
It should either return error to user on s

[2020-06-17 14:39] i-schuetz commented on #275
For completeness, how did you enter the text (at least the keyboard should be numeric)?
@Sam-gtri https://github.com/Co-Epi/app-ios/issues/191

[2020-06-17 14:40] ivnsch commented on #275
For completeness, how did you enter the text (at least the keyboard should be numeric)?
@astewart43-gtri #191

[2020-06-17 14:43] ivnsch commented on #275
Ah, simulator. You probably entered them using the computer's keyboard. This is a corner case. Not sure whether it should be prioritized for 0.3. @danamlewis

For the record, the invalid input is discarded (i.e. handled as if the user didn't enter anything) and shows an error message in the logs.

[2020-06-17 14:45] sthomas313-gatech commented on #275
Yes the computer keyboard allows me to enter anything, including emojis into the field. But yes, I understand this a corner case.

[2020-06-17 16:07] sthomas313-gatech opened #276 "SymptomInput and SymptomInputManager files seemed to entirely commented out"
**Describe the bug**
Not really sure if a bug or this was intended. Sorry I am new to the project and just trying to understand the sections of the code. If it is still needed just tell me and I can close this issue.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Navigation' folder in dev repo.
2. Click on 'SymptomInput and SymptomInputManager '
4. See files are commented out

**Expe

[2020-06-17 16:45] ivnsch commented on #276
These are some artifacts that slipped through reviews. The UI code in iOS is a bit messy now because it was difficult to keep everything in check. Also, most logic was moved to the shared Rust library and I'm waiting for the 0.3 beta testing to have a final decision on this, before doing a full refactor/cleanup.

[2020-06-17 19:43] scottleibrand commented on #268
The “no symptoms reported” is to allow people to test the exposure notification without having to lie about having symptoms and potentially alarm someone unnecessarily. We’ll probably remove that later once we have sufficient testing.

[2020-06-17 21:18] ivnsch commented on #268
I find this confusing. If we're testing, it should be ok to send arbitrary inputs. Am I missing something?

[2020-06-17 22:12] ivnsch commented on #217
Example (this is Bitrise. AppCenter should have something similar?)

<img width="622" alt="Screen Shot 2020-06-18 at 00 10 54" src="https://user-images.githubusercontent.com/1381744/84955871-5a34a900-b0f8-11ea-81d0-17c1e61052af.png">

[2020-06-17 22:17] scottleibrand commented on #268
We’re (hopefully) not the ones who’ll be doing most of the testing. That’ll be the real-world users of the app. So we need to be able to support sending test exposure reports *and* allow people to use the app “for reals”.

[2020-06-17 22:20] astewart43-gtri commented on #217
I may be reading this incorrectly, but based on this [documentation](https://docs.microsoft.com/en-us/appcenter/build/github-app) I would assume the repo owners would need install the App Center GitHub app.

[2020-06-17 22:31] ivnsch commented on #217
AFAIK it's installed, and it what's updating the build status badge on the readme. The task here would be to get it working (in cooperation with the owners) for the PRs CI.

The problem right now actually is that we don't have an account to use AppCenter, but this should be solved this week.

Edit: The badge actually doesn't come from the app integration, but it's installed in this repo.

[2020-06-18 06:42] ivnsch commented on #268
Ok, on the basis that we want to be able to test while in production, this makes sense. Just wanting to understand. It's probably good to have these decisions documented too.

Probably it makes sense at some point to add a toggle in settings or similar to ignore (not display) no-symptoms alerts, which would be enabled by default. This way we wouldn't confuse regular users.

Can anyone answer the o

[2020-06-18 07:29] scottleibrand commented on #268
I don't have a strong opinion on the cutoff for fever. 99.5F seems like a reasonable midpoint in the "mild fever" range, but I would also be fine using 98.6F or 100.5F as the cutoff if it simplifies the code to avoid another threshold.

And yes, we only want exposure alerts to say "fever", not mild/severe.

[2020-06-18 14:42] #268 closed, assigned to ivnsch

[2020-06-18 19:22] sthomas313-gatech commented on #189
https://medium.com/flawless-app-stories/swiftui-accessibility-e58d8850149f. - This might be some good resources for adding this to the application. I will do some more research on this. I am still figuring out the layout the code.

[2020-06-18 20:37] ivnsch commented on #189
Note that we don't support SwiftUI. This was discussed at the beginning, but it ended being discarded, to make it possible to support iOS 12.

[2020-06-19 01:36] scottleibrand opened #279 "Prompt to turn on Bluetooth"
If the user opens CoEpi for the first time and Bluetooth is turned off, CoEpi prompts you to go to settings to enable it. But if CoEpi is already running and the user turns off Bluetooth and re-opens CoEpi, it doesn't notice Bluetooth is off, and doesn't prompt to turn it on.

CoEpi should check Bluetooth status whenever the app is foregrounded, and prompt to turn on Bluetooth if it's turned off.

[2020-06-19 16:09] sthomas313-gatech commented on #189
Thank you Ian,  I had mistakenly thought those two were interchangeable, but Allen has explained to me the difference. I apologize for the confusion. I will reformat my research to swift-centered accessibility.

[2020-06-19 17:21] #218 closed

[2020-06-19 19:15] mellowgeek opened #281 "Remove symptom specific duration screens."
As identified in https://github.com/Co-Epi/app-android/issues/244, remove the symptom specific duration screens since we anchor on the earliest symptom date.

[2020-06-23 11:09] ivnsch opened #282 "Fix alert OS notifications"
It seems I forgot to integrate this with the new Rust core.

[2020-06-23 13:19] haleybear opened #283 "Fever Symptom - Top bar is missing under follow up view for how you took your temperature"
**Describe the bug**
Currently once the user submits fever as a symptom the follow up screen for how they took their temperature does not have the title/comment of "Have you taken your temperature today?"

**To Reproduce**
Steps to reproduce the behavior:
1. Open App
2. Select Symptom Reporting
3. Select Fever
4. Select Submit
5. Input some number (I did 5) and select Submit on the screen
6. Selec

[2020-06-23 13:24] haleybear opened #284 "QUESTION: Should the Home Screen have a scroll bar?"
I have an iPhone 8 that I am using for testing and the main view of the home screen looked off until I realized that it was because there is a scroll bar for the two options. Is this supposed to happen on this screen?
![image](https://user-images.githubusercontent.com/36253327/85409090-5ad3a200-b533-11ea-99d4-382282986c6c.png)

[2020-06-23 14:13] ivnsch commented on #284
Let's optimize this layout so it looks good on all screen sizes. A possibility would be a combination of the approaches that have been implemented so far: Aspect-ratio based cell height, but with a higher prio "smaller than" constraint for the height. This way on bigger screens (e.g. iPad) the cells don't take up nearly half of the screen's height.

Or ask UX.

[2020-06-23 15:51] haleybear commented on #284
@i-schuetz that sounds fair, I noticed that one of the things that is helping the Android version is that the "Symptom Reporting" and "Exposure Alerts" text is on a single line, would that help here though?
![image](https://user-images.githubusercontent.com/36253327/85425967-dccdc600-b547-11ea-963a-24b47e35228d.png)

[2020-06-23 16:24] ivnsch commented on #284
Not directly, as on iOS the cell's height is fixed currently.

@Sam-gtri can you ask design what they want? It's btw important to keep in mind that we may have more than 2 items, in which case adjusting these 2 cells will not be very useful. But they may also say that for the foreseeable future it will be 2, in which case it's ok to optimize for it.

[2020-06-23 16:31] Sam-gtri commented on #284
@i-schuetz  Who is in charge of design?

[2020-06-23 16:36] ivnsch commented on #284
@Sam-gtri sorry! That should have been @astewart43-gtri (I'd ask in the UX channel).

[2020-06-23 17:58] SSNimnicht opened #286 "TCN Lost on iPhone"
**Describe the bug**
While noting the issues documented in TCN is not changing in Debug screen #256, I saw my TCN for my iPhone 7 disappear.  It still (several hours later) has never reappeared.  I had loaded onto my iPhone 7 with iOS 13.5.1 commit c36a5bd of develop branch.

**To Reproduce**
Steps to reproduce the behavior:
1. Open CoEpi and select Debug at bottom of Home Screen.
2. On BLE tab, n

[2020-06-23 18:49] ivnsch commented on #286
Related: https://github.com/Co-Epi/app-ios/issues/258

[2020-06-23 19:29] ivnsch commented on #286
@SSNimnicht Did you notice if after the TCN disappeared it was still detected by another device?

[2020-06-24 13:08] SSNimnicht commented on #286
@i-schuetz Yes.  Screenshot 1 of my Android seeing the iPhone remained constant.  As in when my iPhone lost its TCN, the Android still displayed it under the discovered section.  Even after closing the application and reopening it this morning, the Android still shows that same screen as inserted above.

[2020-06-25 11:23] duskoo commented on #272
Looks like a race condition while logging in:
[code]
Caused by
* NativeCore.bootstrap(dbPath:) and
* NativeCore.fetchNewAlerts()

![Screen Shot 2020-06-25 at 1 20 33 PM](https://user-images.githubusercontent.com/4785666/85710553-a8dcd700-b6e6-11ea-8e73-62ddf2ff346f.jpg)

[2020-06-25 15:58] woodsk97 opened #287 "Minor inconsistencies in Onboarding between FIgma, iOS and Android"
I've noticed the following wording inconsistencies between iOS & Android during onboarding:

Bluetooth:
iOS:         Asks if Bluetooth can be used or not
Android:  Asks if Bluetooth can used all the time, while App is running, or not at all

Link for privacy information
Figma:     How is my data used?
iOS:         How is my data used?
Android:  How ill my data be used?

Header for 4th screen:
Figm

[2020-06-25 18:57] woodsk97 commented on #282
I'm not seeing exposure notifications on my iPhone -- is it because of this or should I open a new ticket?

[2020-06-25 19:01] astewart43-gtri commented on #287
@i-schuetz, do we want to alter the behavior of bluetooth on iOS? it seems that we want it all the time.

[2020-06-25 19:02] astewart43-gtri commented on #287
I am about to make a PR to address the header for 4th screen

[2020-06-25 19:25] ivnsch commented on #282
You mean in notification center? Or the alerts in the app? If it's the later, yes open a new ticket.

[2020-06-25 19:28] woodsk97 commented on #282
I'm not getting notifications in the app - I'll open a ticket

[2020-06-25 19:29] ivnsch commented on #287
The permission models on iOS and Android are different and there's nothing we can do about that. We can refine the iOS handling, which is already being addressed in https://github.com/Co-Epi/app-ios/issues/279.

[2020-06-25 19:38] woodsk97 opened #289 "Exposure notifications not displaying in the app"
Exposure alerts displayed in the app.

I have two phones, Galaxy S10 and iPhone XR both running CoEpi.  According to the debug information, the phones see each other's TCN.   I've set symptoms on the Android.  From the debug log on the iPhone it looks like there are matches, however, there are no exposures displayed in the app.
![image](https://user-images.githubusercontent.com/67012738/85787550-9

[2020-06-25 19:45] astewart43-gtri commented on #287
great. closing this issue.

[2020-06-25 19:45] #287 closed, assigned to astewart43-gtri

[2020-06-25 19:59] sthomas313-gatech commented on #275
While checking out accessibility elements, one of the things I found was : Settings  > Accessibility > Keyboards, tap Full Keyboard Access, then turn on Full Keyboard Access. This will allow for people who is external keyboards to have additional inputs like I had on the simulator.

[2020-06-25 20:05] sthomas313-gatech commented on #189
Features we should test for: Voice Over compatibility, Invert colors, increase contrast, reduce transparency, reduce motion, and Full keyboard access. Most of these can be checked by the Accessibility Inspector Tool in xCode for iOS. The voice over compatibility will require more in-depth look at the labels for all objects on every page in the app.

[2020-06-25 20:13] ivnsch commented on #275
We definitely need to add validation. It's not something I personally would prioritize right now, though. Maybe as a refinement for 0.6 or so.

[2020-06-26 15:37] ivnsch commented on #217
Note that we don't need instrumented tests. Only linting and Unit Tests.

[2020-06-26 18:30] sthomas313-gatech opened #290 "The Title for the "Follow up: Fever: Location of temp Page" not showing"
**Describe the bug**
As I was running thought accessibility stuff for the simulated iOS version of the app. I noticed the title for the page was missing. I went to see if the same issue occurred on my Android , it did not. So this is either a local issue on my version of the code or on the iOS side.

**To Reproduce**
Steps to reproduce the behavior:
1. Select Fever option
2.Go through follow ups
3

[2020-06-26 18:36] sthomas313-gatech commented on #189
I have finished my check up of the app for accessibility features,  I will make a separate issue with all the issues. Will be closing this one.

[2020-06-26 18:36] #189 closed

[2020-06-26 18:38] sthomas313-gatech opened #291 "Accessibility Bugs that need to be Fixed."
### **All Accessibility Issue Found in CoEpi**
## Home Page
- [ ] Symptom Reporting Button - Accessibility does not mention it is a button. It just reads all the text
Exposure Reports Button - Accessibility does not mention it is a button. It just reads all the text
Fix Suggestion:You can change the label of these View to indicate they are buttons, even if technically they are views.

- [ ] Versio

[2020-06-28 08:09] ivnsch commented on #286
I can't reproduce this issue. Anyway, to provide background:

1. On iOS (sender) / Android (listener) case, as per [doc](https://github.com/TCNCoalition/TCN), iOS will write its TCN to Android.
2. iOS will write its TCN/generate it [only if it hasn't yet](https://github.com/TCNCoalition/tcn-client-ios/blob/develop/Sources/TCNClient/Bluetooth/TCNBluetoothServiceImpl.swift#L568) (based on a temporar

[2020-06-28 14:40] ivnsch commented on #258
I debugged this and found the reason for this behavior:

1) iOS - iOS uses characteristic read.
2) On iOS - iOS, TCNs are generated only when receiving a read request.
3) If the listener has a [TCN cached for the sender's device identifier](https://github.com/TCNCoalition/tcn-client-ios/blob/develop/Sources/TCNClient/Bluetooth/TCNBluetoothServiceImpl.swift#L539), it doesn't send a read request.
4)

[2020-06-28 14:47] i-schuetz commented on #258
For quicker understanding, this issue manifests the same as this one https://github.com/Co-Epi/app-ios/issues/286 (https://user-images.githubusercontent.com/67011880/85437895-4aceb900-b559-11ea-9f32-2e15cacf5453.jpg).

[2020-06-28 14:52] ivnsch commented on #289
With this kind of issues it would be helpful to copy the log's text (to e.g. copy paste the report). You can do this by long-tapping the logs screen.

[2020-06-28 16:37] ivnsch commented on #289
It seems that the parsing of the alerts was broken recently with the linter improvements (though I asked explicitly to disable it for this). After fixing it I'm able to see alerts (created with an Android device) again.

I wonder though if it's the same issue. I got an error message in the log and on the top of the alerts screen. Can you try again?

[2020-06-28 16:41] #281 closed, assigned to Sam-gtri

[2020-06-28 17:11] #282 closed, assigned to nobody

[2020-06-29 13:52] haskinselena commented on #279
"Should we maybe show a small (non blocking) notification when bluetooth is turned off? The user may be opening the app just to browse alerts or planned features like browsing the journal, and I imagine that showing a prompt to turn on bluetooth each time to be irritating. Both Android and iOS allow to observe the BT status.
It's also not necessarily more costly to implement. On Android (where we

[2020-06-29 14:13] haskinselena commented on #279
So we wouldn't be able to have it pop up on FG if Bluetooth was deactivated earlier? How do the permissions work now? It doesn't trigger when Bluetooth is turned off?

Since this is a privacy focused app and one that relies on bluetooth to access other people's exposures, shouldn't we have the pop-up come to enable each time its off so people have that kind of autonomy over their Bluetooth permiss

[2020-06-29 15:53] ivnsch commented on #279
Technically we can do this, though it's not trivial to implement, among other things because on iOS the TCN library initializes the BT (which triggers this dialog) and we'd need to add something to it to not show a new one immediately after.

Both iOS and Android ask for permissions when the app is started. If the permissions are given and BT is disabled, a dialog to enable it is shown directly af

[2020-06-29 16:14] ivnsch commented on #279
We've to consider that we support basically 2 target groups: healthy/asymptomatic users that go out and want to see if they contact infected users, and infected users that are more likely to stay at home and use the app only to report symptoms. Reminders to enable bluetooth that are too attention drawing, are likely to alienate the "sick" target group, and make them report less frequently or not a

[2020-06-29 16:18] scottleibrand commented on #279
This sounds like the kind of thing that we'll be better able to decide once we have some real-world usage. If there is significant user demand for "let me leave Bluetooth off and don't nag me about it", we could implement something like this. I suspect most people who manually turn off Bluetooth won't mind clicking through a notification reminding them that they've done so, but we'll see...

[2020-06-29 16:20] ivnsch commented on #279
There's an intersection here between unclear UX and implementation cost, because as I've said it's relatively complicated to implement in both platforms. On iOS we even would have to modify the TCN library and at the moment I'm not even sure it would work.

Edit: For the record, it's possible on iOS without changing the TCN library, but workaroundish / not good code.

[2020-06-29 16:29] ivnsch commented on #279
Just a quick idea, would something like this work?
<img width="303" alt="Screen Shot 2020-06-29 at 18 28 36" src="https://user-images.githubusercontent.com/1381744/86031656-6b55b200-ba36-11ea-93f9-1f71cc30a350.png">

[2020-06-29 16:45] scottleibrand commented on #279
I wouldn't be opposed to something like that, but wouldn't want to spend a lot of time to implement it without clear guidance from users. If it turns out to be way easier in Android that iOS, it might be OK to have it only implemented there: iOS users are a lot less likely to turn off their Bluetooth religiously, because doing so doesn't save much battery on iPhones compared to Android phones.

[2020-06-29 17:08] ivnsch commented on #279
If it's only a time problem: unless UX changes the design significantly, this is straight forward. With the alert (on Android) we need to sync between the permissions result and the "app comes to foreground" event + manage a flag to not show the dialog again when it's dismissed (as "app comes to foreground" is triggered). It's not difficult, but there's not much difference time wise with the idea

[2020-06-29 17:27] ivnsch commented on #275
I'll set assign a hypothetic 0.6 milestone to this, just to signalize that we want to solve it "at some point in the future".

[2020-06-29 17:31] ivnsch commented on #250
Any updates? For now it would be enough to just separate the assets and show one image (icon) on top of the other (line background). I can do the rest of the refactoring later.

[2020-06-29 17:39] ivnsch commented on #114
Alerts stay cleared now.

[2020-06-29 17:39] #114 closed

[2020-06-29 17:41] ivnsch commented on #78
This seems a general BLE question, and not very clearly formulated, so closing.

[2020-06-29 17:41] #78 closed

[2020-06-29 18:30] #284 closed, assigned to ivnsch

[2020-06-29 18:58] haskinselena commented on #279
That's not a problem to design something like that, especially if it will simplify the backend

[2020-06-29 18:59] haskinselena commented on #279
I'm adding the design now

[2020-06-29 19:11] ivnsch commented on #279
Okay, for the record I'm not pushing it, just adding perspective so we make an informed decision 🙂

[2020-06-29 19:17] haskinselena commented on #279
We won't be able to have feedback about Bluetooth reminders until users have it downloaded to their phone and are using it. It's not something we can ask in user testing know since it would be a hypothetical question - so its hard to know if someone would get annoyed or not with the permissions.

You made a good point about not wanting to alienate users who are reporting frequently. I added this a

[2020-06-29 19:44] ivnsch commented on #279
Thanks! Some points:
- We can't toggle bluetooth directly, only trigger the dialog. Unless the toggle is decorative (may be ok?)
- Should we maybe label it with "Contact tracing" instead of "Bluetooth"? This way the purpose is clear (the bluetooth dialog explains the rest)
- On smaller screens the element may not be visible initially, should we put it at the top maybe?
- Do we want to show it alwa

[2020-06-29 19:49] haskinselena commented on #279
So if a user toggled the screen, the pop-up would come up? That seems weird to have on the main screen if the pop-up still comes - so then we shouldnt have it on there.

If we put it at the top, it would be like we are prioritizing it and detract from the main content : symptom adding

[2020-06-29 19:58] ivnsch commented on #279
The popup would show only when you press on the item (or toggle). The difference with the other flow is that here we don't force the user to interact. Putting it at the top is nearer to what was initially suggested: It's important / can't be overlooked (this later point isn't very important to clarify now, unless it invalidates the idea, as we can easily change the row position).

[2020-06-29 20:10] ivnsch commented on #279
(I think of it more as a warning/important info, similar to e.g. "app is in offline mode". Apps that support offline mode often show this, so you know that what you're seeing may be outdated, can't checkout, etc.). With the difference that we should prompt to enable.

[2020-06-30 08:13] #272 closed, assigned to ivnsch

[2020-06-30 15:12] Sam-gtri commented on #250
@i-schuetz Ill work on this today!

[2020-06-30 15:26] SSNimnicht opened #297 "Commit fe95470 Won't Open"
**Describe the bug**
I pulled down commit fe95470 onto my iPhone 7 and it won't open.  It built successfully in Xcode with several warnings, it installed on my phone and every time I select the app it just doesn't open.

**To Reproduce**
Steps to reproduce the behavior:
1. Install commit fe95470.
2. Attempt to open the application.  It won't.

**Expected behavior**
The application should open and

[2020-06-30 15:53] ivnsch commented on #297
Can you update develop and try again? Thanks!

These kind of issues would be caught by a working CI... 🙂

[2020-06-30 16:19] woodsk97 commented on #297
I just downloaded, when I run 'Carthage bootstrap' I get 'Illegal instruction: 4'

[2020-06-30 16:39] woodsk97 commented on #297
I did a carthage upgrade & it is now working - I was able to build, download, and open the app

[2020-06-30 17:05] ivnsch commented on #297
Hmm it _should_ not be related with using `update` vs `bootstrap`, as the core version is [correctly specified](https://github.com/Co-Epi/app-ios/blob/develop/Cartfile.resolved#L2) (and there's not a newer one that `update` could be fetching). Maybe you cleaned the project or something?

[2020-06-30 17:06] ivnsch commented on #297
Closing this either way, as it seems to be fixed. Feel free to comment.

[2020-06-30 17:06] #297 closed, assigned to nobody

[2020-06-30 17:20] ivnsch commented on #297
this is not true anymore. Just uploaded one.

[2020-06-30 17:58] ivnsch commented on #279
Another idea, perhaps?
<img width="331" alt="Screen Shot 2020-06-30 at 19 58 30" src="https://user-images.githubusercontent.com/1381744/86160506-1f753c80-bb0c-11ea-8b22-ac13bf378ddd.png">

[2020-06-30 18:17] sthomas313-gatech commented on #283
Sorry I saw the same issue on #290.

[2020-06-30 18:18] sthomas313-gatech commented on #290
This is a duplicate issue as #283

[2020-06-30 18:18] #290 closed, assigned to nobody

[2020-06-30 19:45] SSNimnicht commented on #289
Piling on with logs I copied from my iPhone 7 with commit 2c22c3.  My iPhone is also not receiving any of my Android device exposure alerts in the app.  Note error fetching alerts message at 1355 in log.
[Logs_06302020.txt](https://github.com/Co-Epi/app-ios/files/4854090/Logs_06302020.txt)

[2020-06-30 20:22] #283 closed, assigned to nobody

[2020-06-30 20:49] SSNimnicht opened #302 "Display Commit Hash for Currently Installed SW in Debug Log-iOS"
**Is your feature request related to a problem? Please describe.**
When cloning the current iOS repository into xCode and then pushing from xCode to my iPhone device, the real version is not displayed at the bottom [Something like 0.3 (1) displays which is NOT accurate.].

**Describe the solution you'd like**
It would be nice to have the commit hash in the debug log just for double checking purpos

[2020-06-30 21:20] SSNimnicht opened #303 "Retain User's Logged Symptoms So They Can See What They Submitted & When-iOS"
**Is your feature request related to a problem? Please describe.**
Fortunately, I have the debug log to see what symptoms I logged and when I logged them.  The normal user will not have the benefit of this log and can therefore submit extraneous reports if/when they forget logging symptoms.  Additionally, the user would not have the benefit of seeing how his/her condition improved or worsened over

[2020-07-01 10:03] ivnsch commented on #302
Displaying the commit hash in the local builds is not possible, because the app doesn't have knowledge of git. Even if it accessed it via api, it wouldn't know which commit you checked out. I also don't see the need for this. You should be able to check easily on the computer which commit you've checked out.

[2020-07-01 10:03] #302 closed, assigned to nobody

[2020-07-01 13:15] duskoo commented on #302
Something like this might work: https://stackoverflow.com/questions/26514866/how-can-i-include-the-git-commit-hash-in-xcode

[2020-07-01 13:30] ivnsch commented on #302
Wording improvement: Not (easily) possible without making assumptions about the local environment. And I don't see the point. Don't want to have to write & maintain custom scripts or requiring devs to install `PlistBuddy` to run the app, for a feature with unclear benefits.

Edit: It seems that `PlistBuddy` is installed by default in Apple platforms. Still, it's an additional dependency and I'm no

[2020-07-01 13:39] i-schuetz commented on #302
And before I get a new clarification,

is not accurate. The script seems to be installed by default in Apple platforms, but it's not in `PATH`, so it's either way an additional step configuring the project.

[2020-07-01 14:09] ivnsch commented on #289
Okay, this one is when you fill the earliest symptom time. Should be fixed now.

[2020-07-01 14:10] #289 closed, assigned to ivnsch

[2020-07-01 14:14] ivnsch commented on #279
Following discussion, closing. Feel free to reopen if it's needed again.

[2020-07-01 14:14] #279 closed, assigned to nobody

[2020-07-01 15:27] ivnsch commented on #302
Or am I missing a use case where it makes sense? Maybe @SSNimnicht can explain? It may make sense if you go testing with the local build outside and want to submit an issue before coming back to the computer, or something? Or maybe working with multiple git clones?

[2020-07-01 16:22] SSNimnicht commented on #302
@i-schuetz The specific use case I was documenting was when I have pushed the application onto an iPhone and am using the phone (not the emulator) to test the application (mainly from a bluetooth perspective).  Unlike the Android application where I get App Center installation notifications and can push the apk onto my phone (and thereby see the version info), when I pull the iOS application code

[2020-07-01 16:49] ivnsch commented on #302
As I said, in this case you can just look up the commit hash on the computer? I assume an installed git client, since you cloned the repo.

If you're using the built-in git client in Xcode, you can see the git status in the source control navigator: https://i.stack.imgur.com/2MJjQ.png

[2020-07-01 17:44] SSNimnicht commented on #302
Fair enough

[2020-07-01 19:12] ivnsch opened #308 "Autolayout warning in earliest symptom screen"
[code]

[2020-07-01 20:08] ivnsch commented on #302
Though actually I just thought of a valid use case. When copying the logs (long tap), we attach the app version. Attaching the commit hash would be convenient for testers using develop / Xcode. But let's see if we still need it, since the current "testers using develop" are gone and we've AppCenter again.

[2020-07-06 11:00] #308 closed, assigned to duskoo

[2020-07-09 11:00] i-schuetz commented on #158
This doesn't seem possible on iOS.

The TCNs are generated only when receiving a read request, and the request is sent only of the central hasn't a cached TCN for the device's UUID yet. This UUIDs seems (it's not documented) to be assigned for long periods of time (permanently?). The relationship to the MAC rotation is unclear. I'm observing the UUIDs of 2 iOS peripherals right now and they haven'

[2020-07-09 11:07] ivnsch commented on #158
This doesn't seem possible on iOS.

The TCNs are generated only when receiving a read request, and the request is sent only of the central hasn't a cached TCN for the device's UUID yet. This UUIDs seems (it's not documented) to be assigned for long periods of time (permanently?). The relationship to the MAC rotation is unclear. I'm observing the UUIDs of 2 iOS peripherals right now and they haven'

[2020-07-09 16:15] scottleibrand commented on #158
“If we want the handling to be consistent with Android, were we have a mandatory timer, it seems we're left with recording duration/distance per TCN and aggregating during matching.”

This was my assumption about how it would work. Since we’re looking for closest distance, aggregation across TCNs could be as simple as taking the lowest distance value.

[2020-07-09 17:22] ivnsch commented on #158
Okay, an implementation could look like this:

Detection:

- We keep a hash map with the detected TCNs `TCN : { start_timestamp, min_distance, avg_distance }`
- We add a timer that each x minutes moves the entries from the map to the database. We can either do upsert (if exists, merge) or we just add always new rows and aggregate repeated TCNs during matching.
- If the device goes out of range bef

[2020-07-09 17:37] ivnsch commented on #158
Btw, just noting that this is mostly about duration. The realization was that we need to handle it similarly to distance (not only during matching), as on iOS a TCN may stand for very large periods of time (it may have been implied, as we probably are interested in time frames shorter than 15 mins).

[2020-07-09 17:48] scottleibrand commented on #158
Elena was just asking about that in #ux, but I agree that feature can be deferred for a future version. https://coepi.slack.com/archives/CUR0KQRNG/p1594310201140100

[2020-07-18 17:01] duskoo commented on #158
1. I don't see the use case for avg_distance.
2. "If the device goes out of range" - this does not seem relevant. How would we detect device exiting range anyway?
3. Unclear how end_timestamp is determined. Maybe use: current_timestamp + validity_interval
validity_interval could be ( 15min / 2 )
4. "we'd have to determine a max delta between `end_timestamp` and `start_timestamp`" - 15min is the ma

[2020-07-18 17:44] ivnsch commented on #158
1. It was requested in the [distance issue](https://github.com/Co-Epi/app-ios/issues/157)
2. Yeah, not really necessary. I didn't do this in the PR (for the record, it's possible to detect).
3. `end_timestamp` is the timestamp of the last recorded TCN, scoped to either the in-memory batches (short lived) or the database records. It's "expanded" when adding contiguous TCNs.
4. The `end_timestamp` a

[2020-07-19 13:11] duskoo commented on #158
1. Ok.
2. Ah, right: CBPeripheralState.disconnecting. We do have to persist all the entries from the map to DB, otherwise we are risking  missing a contact/infection.
3. Clear.
4. Those are unrelated. But we need to pick a threshold value.

[2020-07-21 22:10] haskinselena opened #311 "Exposure alerts"
**Individual exposure alerts**
1. Timeline of repeated interactions previously logged
2. Distance from you on exposure alert
3. Menu button in header to delete

<img width="845" alt="Screen Shot 2020-07-21 at 6 08 03 PM" src="https://user-images.githubusercontent.com/67452742/88112149-42c86000-cb7d-11ea-8148-0f41b54f1e72.png">

**Exposure alert screen**

1. Red dots to indicate new alert - will di

[2020-07-21 22:19] haskinselena opened #312 "Updated UI design"
1. Update main color to #524A8F
2. Change all button text to black and white (originally purple)
<img width="589" alt="Screen Shot 2020-07-21 at 6 17 22 PM" src="https://user-images.githubusercontent.com/67452742/88112865-aef79380-cb7e-11ea-95b6-5cf85d795ca9.png">
<img width="273" alt="Screen Shot 2020-07-21 at 6 17 09 PM" src="https://user-images.githubusercontent.com/67452742/88112867-af902a00-c

[2020-07-21 23:36] haskinselena opened #313 "Add new pages and update Homepage"
**Update Homepage**
1. Remove "How is my data being used"
2. Add settings wheel at the top - Linked to settings page

**Add Settings page**
1. "Show me all reports including 'I don't have any symptoms'" TOGGLE ON
2. "Only show alerts >5 minutes of interaction TOGGLE OFF
3. "Only notify me for interactions that occurs <10 feet away" TOGGLE OFF

<img width="276" alt="Screen Shot 2020-07-21 at 7 30 1

[2020-07-22 02:53] haskinselena opened #314 "On-board screens"
1. Add opening screen
2. Update copy
3. Add visuals

<img width="1049" alt="Screen Shot 2020-07-21 at 10 52 30 PM" src="https://user-images.githubusercontent.com/67452742/88128939-ea0cbd80-cba4-11ea-97d4-8382ac1ecf8f.png">

[2020-07-22 13:03] ivnsch opened #315 "Allow to use different log levels for debug / release builds"
Logs affect performance significantly. It should be possible to create release builds with the log level set to warning, or info.

[2020-07-22 14:38] ivnsch commented on #311
@Co-Epi/ux just to confirm, was it decided at the end to add the calendar and links between exposures for 0.4?

[2020-07-22 14:41] haskinselena commented on #311
No calendar, but if there are linked exposures we want the indicator to pop up and have the timeline of past exposures on the individual alert

[2020-07-28 18:30] ivnsch commented on #311
@Co-Epi/ux re: "Previous exposures with this person": Is it intended to show only previous ones, or do we want to just show the others?

[2020-07-28 21:14] haskinselena commented on #311
On the exposure alert page, all exposures (even those with the same person) are intended to show. If there are multiple encounters with the same person, an indicator "repeated interaction" will pop up, users will be able to click on that to get the normal information AND a timeline of previous exposures with the same person

[2020-07-29 08:02] ivnsch opened #324 "Fix/remove outdated unit tests"
E.g. backend tests.

[2020-07-29 13:35] ivnsch commented on #311
@haskinselena Just to clarify re: "previously": I'm assuming that we don't want only _previous_ interactions, but _all (other)_ interactions with the same user. We may be seeing one of the "older" alerts, in which case we want to display the more recent interactions as well (correct me if I'm wrong).

[2020-07-29 13:37] haskinselena commented on #311
Ah yes - that's correct!

[2020-07-29 18:42] #311 closed, assigned to ivnsch

[2020-07-31 14:24] ivnsch commented on #313
Current state: needs some minor style adjustments. Will do when restyling the app. Didn't see this screen in Figma btw, guessed fonts.

<img width="357" alt="Screen Shot 2020-07-31 at 16 23 34" src="https://user-images.githubusercontent.com/1381744/89044427-3d6fd000-d34a-11ea-9d54-4ad139475243.png">

[2020-07-31 14:28] haskinselena commented on #313
I tagged you on Figma. The updated screen that was posted is there. Did you need any adjustments on my end? @i-schuetz

[2020-08-01 11:48] #313 closed, assigned to ivnsch

[2020-08-01 12:12] ivnsch commented on #313
ok, and no.

[2020-08-01 12:14] ivnsch opened #332 "Use locale to init temp/distance units"

[2020-08-01 14:03] ivnsch commented on #312
@haskinselena can you please make the icon frames in the short of breath screen all the same size (so they show properly centered)?

[2020-08-01 20:23] #312 closed, assigned to nobody

[2020-08-02 11:20] #314 closed, assigned to nobody

[2020-08-02 11:23] duskoo commented on #313
One minor thing: switches are not animated.

[2020-08-02 13:52] #332 closed, assigned to nobody

[2020-08-02 14:09] #324 closed, assigned to duskoo

[2020-08-02 14:09] ivnsch opened #339 "Fix lint warnings"
Or if a good reason, add to ignored.

[2020-08-02 17:44] ivnsch commented on #313
@duskoo should be fixed here: https://github.com/Co-Epi/app-ios/pull/342

[2020-08-02 17:54] ivnsch opened #343 "Start delay"
There's a short lag when starting the app. It can be noticed when tapping any element in home very quickly after start. It doesn't open immediately. The reason is likely the bootstrap, which runs on the main thread.

Can we make it quicker? The db should be initialized only the first time the app starts. Unclear which dependency could be causing this.

[2020-08-03 18:42] haskinselena opened #347 "Screen flows"
Screen flows should be as followed:
**Cough:**
1. I would describe my cough as Wet/Dry
2. Today my cough feels:
3. Confirmation screen

**Shortness of breath**
1. I feel shortness of breath:
2. Confirmation screen

**Fever**
1. Have you taken your temp?
2. Where did you take your temperature most recently?
3. What was the highest reading?
4. Confirmation screen
<img width="612" alt="Screen Shot 20

[2020-08-04 18:32] danamlewis opened #350 "Use earliest symptom onset to determine how many days of TCN to report symptoms to"
Idea is to use the earliest symptom onset + 2 days prior to send exposure alerts to the individuals seen in that time period.

Current implementation in 0.4 is for symptom reporting for day-of symptoms and after (?), but for 0.5 we'd like to implement to include the prior 2 days when someone was potentially infectious.

[2020-08-06 00:16] scottleibrand opened #351 "500 nil error message displayed in exposure alerts"
![63B3AE2B-D98A-4186-93C0-D62DEEA8BEFC](https://user-images.githubusercontent.com/6982790/89476363-5825b880-d73f-11ea-941e-2b7f1d67e255.jpeg)

[2020-08-06 10:53] ivnsch commented on #351
Can't reproduce it. Is it possible to provide a description?

[2020-08-06 16:41] scottleibrand commented on #351
It occurs every time I open the Exposure Alerts screen. Looks like these
are the corresponding logs.

----------
On Thu, Aug 6, 2020 at 3:53 AM, "Ivan Schütz" <notifications@github.com>
wrote:

Can't reproduce it. Is it possible to provide a description?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/Co-Epi/app-ios/iss

[2020-08-06 16:43] scottleibrand commented on #351
It occurs every time I open the Exposure Alerts screen. Looks like these are the corresponding logs.

![FCE2C1FE-65F3-4C31-9223-95F9B6F91F0C](https://user-images.githubusercontent.com/6982790/89558528-2e18d880-d7c9-11ea-90bf-7df97df591be.jpeg)

[2020-08-06 16:53] ivnsch commented on #351
That's because the database migrations are not merged yet. It should work if you re-install the app.

[2020-08-06 22:02] scottleibrand commented on #351
Gotcha. Reinstall fixed it. Thanks.

[2020-08-06 22:02] #351 closed, assigned to nobody

[2020-08-06 22:03] scottleibrand opened #352 "Exposure distance reported as "0 mi away""
![AC78BF6D-94BA-460A-867D-6F28EA2F9D87](https://user-images.githubusercontent.com/6982790/89587276-2f142f00-d7f6-11ea-994e-cd4b5d754e65.png)

[2020-08-07 00:03] scottleibrand opened #353 "Repeat push notification on every Exposure Alert refresh"
I've had a single exposure since reinstalling CoEpi 0.4, but now every time it refreshes the report list, either via schedule or on pull-to-refresh, it gives me a new iOS notification for the same exposure.

[2020-08-07 00:05] scottleibrand opened #354 "Distance debug logs are too noisy"
The debug logs are currently unusable if another iOS device is in range, as the logs report new distance estimations multiple times per second, changing the position of the existing logs and making it impossible to find, read, or screenshot anything.

[2020-08-07 08:31] #352 closed, assigned to nobody

[2020-08-07 13:17] haskinselena opened #356 "Settings: Copy and toggle update"
In Settings:

- Change copy for first option to "Show me 'I don't have any symptoms' reports" - Toggled on
- Remove third toggle option about distance

-See reference:

<img width="419" alt="Settings" src="https://user-images.githubusercontent.com/67452742/89649285-7e0da300-d88e-11ea-8489-04328a250075.png">

[2020-08-14 13:23] duskoo commented on #353
@scottleibrand Proposed fix: send notification only if there is at least one unread alert retrieved from core (DB).
Android behaves the same as iOS. If proposed fix is accepted, I will make a PR for Android as well.

[2020-08-14 14:51] #353 closed, assigned to duskoo

[2020-08-14 14:53] scottleibrand commented on #353
This should be a lot better than the current behavior, so I’ve merged it for testing.

[2020-08-14 17:08] duskoo commented on #354
PR #360  uses reactive operators
[groupBy](http://reactivex.io/documentation/operators/groupby.html)
and
[throttle/debounce](http://reactivex.io/documentation/operators/debounce.html)
to:

1. split incoming tcn events (from BTooth layer) according to tcn value
2. throttle each tcn specific stream by taking one value every 5 sec

[2020-08-16 10:36] #356 closed, assigned to duskoo

[2020-08-16 13:07] #354 closed, assigned to duskoo

[2020-08-25 17:47] #347 closed, assigned to duskoo

[2020-08-28 23:09] scottleibrand opened #363 "Apply show-no-symptoms-reports preference to notifications"
When there are lots of unread No Symptoms reports and you toggle off the 'Show me "I don't have any symptoms" reports" preference, it makes them go away from the Exposure Alerts page, but it still notifies you about them every time it refreshes. We need to exclude No Symptoms reports from push notifications when the preference to show them is disabled.

This likely also applies for the "Only show

[2020-08-30 00:07] #363 closed, assigned to duskoo

[2020-08-30 08:43] duskoo commented on #350
@danamlewis Earliest symptom date screen was removed in #347 , so we are to use (day-of-reporting - 2 days)?

[2020-08-30 11:07] duskoo commented on #350
Report object has start_index and end_index fields. These contain the TCK indices corresponding to start and end of the period in which the reporter was infectious. TCK index increments by 1 after each ratchet operation (ratchet operation generates new TCN).
Current logic for setting start_index and end_index is in https://github.com/Co-Epi/app-backend-rust/blob/master/src/tcn_ext/tcn_keys.rs#L49

[2020-09-29 04:19] scottleibrand opened #368 "openEmail function needs to URL-encode spaces"
https://github.com/Co-Epi/app-ios/blob/develop/CoEpi/ui/common/Email.swift#L9 doesn't URL-encode and therefore can't handle spaces or other special characters in an email subject

[2020-09-29 06:46] scottleibrand commented on #368
Tested the #369 fix and confirmed it works now.

[2020-09-29 06:46] #368 closed, assigned to nobody

[2020-10-06 18:10] danamlewis opened #370 "old iphone SE display font is too big"
![iOS iPhone SE](https://user-images.githubusercontent.com/7468165/95242762-7d2cbb00-07c4-11eb-9a30-9196c113af76.png)

[2020-10-13 18:16] scottleibrand opened #371 "Mark all Repeated interactions as read on reading one of them"
When clicking a Repeated interaction exposure alert, it currently marks only that single interaction as read and clears the red Unread indicator. This often leaves dozens of others that still have to be cleared to stop getting notifications on every refresh.

We should instead mark as read (and clear the red Unread indicator) on all Repeated interactions whenever the user clicks on one of them.

E

[2020-10-17 20:28] #371 closed, assigned to nobody

[2020-11-29 20:46] danamlewis opened #375 "Improve error message/text for network error"
Per https://github.com/Co-Epi/app-ios/pull/373#issuecomment-735319340, we now display an error message on network error, which is an occasionally occurring state for regular usage.

It would be ideal to clarify this error message to say 'network error', which could be from airplane mode or other network error, so users have a clue about what this error is from.

[2020-12-01 23:13] duskoo commented on #375
Fix in #374

[2020-12-07 20:56] danamlewis commented on #370
Resolved with https://github.com/Co-Epi/app-ios/pull/374

[2020-12-07 20:56] #370 closed, assigned to nobody

[2020-12-12 21:27] ziyangji opened #377 "Building with Xcode issue"
Hello when i build the dev on Xcode I am facing the issues "'CoEpiCore/coepicore.h' file not found"**
I think this should be very unusual since i didn't see anyone reported it.

![image](https://user-images.githubusercontent.com/32028412/101995252-9f324480-3d03-11eb-8858-6e7b07d46420.png)

Please give me some helps, i am really appreciate with it!

[2020-12-12 22:25] duskoo commented on #377
Hi @ziyangji,
coepicore lib gets pulled into the project when you run: `carthage bootstrap` in the project folder.